<div class="left-side" id="myScrollspy">
    <ul class="nav nav-pills">
        <li><a href="#section1">用戶系統</a></li>
        <li><a href="#Signup">創帳號</a></li>
        <li><a href="#Login">登入</a></li>
        <li><a href="#ForgotPassword">查詢密碼</a></li>
        <li><a href="#ChangePassword">變更密碼</a></li>
        <li><a href="#ParentalLock">家長安全操作</a></li>
        <li><a href="#MyKid">設置孩童資料</a></li>
        <li><a href="#MyAccount">帳號資訊</a></li>
        <li><a href="#VerifySession">Session ID 登入驗證</a></li>
        <li><a href="#VerifyToken">Token 登入驗證</a></li>
        <li><a href="#Logout">登出</a></li>
        <li><a href="#IsLogined">取得登入狀態</a></li>
        <li><a href="#GetChannelID">取得平台ID</a></li>
        <li><a href="#ShowFloatingButton">顯示懸浮按鈕</a></li>
        <li><a href="#HideFloatingButton">隱藏懸浮按鈕</a></li>
    </ul>
</div>
<div class="right-side">
    <section id="section1">
        <h1>用戶系統</h1>
        <p>透過 SgSDK 調用各個函式，例如創帳號，登入等等。某些函式調用後需要接收回傳值。客戶端再依據收到的回傳值進行對應處理。</p>
    </section>
    
    <section id="Signup">
        <h1>創帳號</h1>
        
        <div class="row">
            <div class="col-sm-8">
                <span class="badge badge-ttl">API</span>
                <p>
                    <pre>void signUp()</pre>
                </p>

                <span class="badge badge-ttl">説明</span>
                <ul>
                    <li>調用註冊頁面，註冊成功等同登入然後關閉 Web View。</li>
                </ul>

                <span class="badge badge-ttl">回傳</span>
                <ul>
                    <li>請參看【<a href="/java-init#listener">回調堅聽</a>】的設定，以及回傳的代碼與定義<a href="/webapi-init#section5">對照表</a>。</li>
                    <li>回調堅聽的 Data 參數：無</li>
                </ul>
            </div>
            <div class="col-sm-4">
                <span class="badge badge-ttl">WebView 頁面</span>
                <img src=<%= "assets/img/" + lang + "/pic08.png" %> class="img-responsive"/>
            </div>
        </div>
        
        
    </section>
    
    
</div>