<div class="left-side" id="myScrollspy">
    <ul class="nav nav-pills">
        <li><a href="#MemberSystem">用戶系统</a></li>
    </ul>
</div>
<div class="right-side">
    <section id="MemberSystem">
        <h1>用戶系统</h1>
        
        <p>SGAgent 的用户系统提供了下列方法供应用使用。分别是</p>
退出
<pre>void exit()
</pre>

获取用户登录状态
<pre>int getUsrState()
</pre>

登入
<pre>boolean login()
</pre>

登出
<pre>boolean logout()
</pre>

<p>具体使用方法请参看 <a href=<%= "assets/html/" + lang + "/android/jdoc/com/sg/util/SGAgent.html"%>> SGAgent 文档</a>。</p>
</div>
