<div class="left-side" id="myScrollspy">
    <ul class="nav nav-pills">
        <li><a href="#MemberSystem">輔助系統</a></li>
    </ul>
</div>
<div class="right-side">
    <section id="MemberSystem">
        <h1>輔助系統</h1>
        
        <p>SGAgent 的輔助系統提供了下列方法供應用使用。分別是</p>

獲取當前設定的遊服介面實現
<pre>SGGameServerInterface getGameServer()
</pre>

獲取操作的名稱
<pre>String getOpName(int op)
</pre>

獲取狀態類型的名稱
<pre>String getStateTypeName(int type)
</pre>

獲取狀態變化原因的名稱
<pre>String getStateChangeReasonName(int reason)
</pre>

獲取狀態的名稱
<pre>String getStateName(int type, int state)
</pre>

指定遊服介面實現
<pre>void setGameServer(SGGameServerInterface gs)
</pre>

遠程日誌
<pre>boolean log(int action, String key, int value, String message)
</pre>

啓動獲取遠程日誌項值的過程
<pre>boolean getLogValue(String key, int defaultValue)
</pre>

運行擴展命令
<pre>String runExtMethod(String cmdLine)
</pre>

開始遊戲
<pre>boolean startGame()
</pre>

停止遊戲
<pre>boolean stopGame()
</pre>

<p>具體使用方法請參看 <a href=<%= "assets/html/" + lang + "/android/jdoc/sgutil/com/sg/util/SGAgent.html"%>> SGAgent 文檔</a>。</p>
</div>
