<div class="left-side" id="myScrollspy">

    <ul class="nav nav-pills">
        <li><a href="#summary">支付系統</a></li>
        <li><a href="#environment">IAP 開發設定</a></li>
        <li><a href="#pay">付款與上傳訂單</a></li>
        <li><a href="#checkOrder">查詢訂單</a></li>
        <li><a href="#restoreOrder">恢復購買</a></li>
    </ul>

</div>

<div class="right-side">

    <section id="summary">
        <h1>支付系統</h1>
        <p>購買遊戲內購商品（IAP）成功後，必須上傳商品訂單，用作後台統計。</p>
    </section>

    <section id="environment">
        <h1>IAP 開發設定</h1>
        <p>使用 IAP 相關功能前，請確認於 AndroidManifest.xml 設置所需的 meta-data。</p>
        <div class="code-block"><%- include ../code/java-sdk-metadata.html -%></div>
        <ul>
            <li>
                <b>Base64PublicKey</b>：只有使用 Google IAP 的時候才需要設定此參數。
                （關於 Google IAP 使用，請參考
                <a href="https://developer.android.com/google/play/billing/index.html" target="_blank">
                    Google 開發者文件的詳細説明
                </a>）
            </li>
        </ul>
    </section>

    <section id="pay">
        <h1>付款與上傳訂單</h1>

        <span class="badge badge-ttl">API</span>
        <p>
            <pre>void pay(SgSDKPayRequest req, Activity ctx)</pre>
        </p>

        <span class="badge badge-ttl">説明</span>
        <ul>
            <li>購買遊戲內付費商品並上傳商品數據。</li>
            <li>
                使用 Google IAP 時，呼叫此函式 SDK 會自動 init Google IAP（只有第一次），並且於付款成功之後，
                自動 conume 商品（Google IAP 對於 concumable 的需求）。
            </li>
        </ul>

        <span class="badge badge-ttl">參數</span>
        <ul>
            <li><b>Activity </b>: Activity 物件。</li>
            <li>
                <b>SgSDKPayRequest</b>: 付款參數的資料結構。
                <br />
                <table class="table table-striped">
                    <tr>
                        <th>屬性</th>
                        <th>必填？</th>
                        <th>描述</th>
                    </tr>
                    <tr>
                        <td>ProductId</td>
                        <td><i class="fa fa-check"></i></td>
                        <td>產品代號（GooglePlay 的 IAP ID）</td>
                    </tr>
                    <tr>
                        <td>ProductName</td>
                        <td><i class="fa fa-check"></i></td>
                        <td>產品名稱</td>
                    </tr>
                    <tr>
                        <td>ProductDesc</td>
                        <td></td>
                        <td>產品描述</td>
                    </tr>
                    <tr>
                        <td>PaymentMethod</td>
                        <td><i class="fa fa-check"></i></td>
                        <td>
                            產品種類：<br />
                            <span class="label label-primary">managed</span>
                            <span class="label label-primary">subscription</span>
                        </td>
                    </tr>
                    <tr>
                        <td>PaymentChannel</td>
                        <td><i class="fa fa-check"></i></td>
                        <td>
                            平台： <br />
                            <span class="label label-primary">GooglePay</span>
                            <span class="label label-primary">WeChat</span>
                        </td>
                    </tr>
                    <tr>
                        <td>Price</td>
                        <td></td>
                        <td>產品價格</td>
                    </tr>
                    <tr>
                        <td>ServerId</td>
                        <td></td>
                        <td>伺服器代號</td>
                    </tr>
                    <tr>
                        <td>ServerName</td>
                        <td></td>
                        <td>伺服器名稱</td>
                    </tr>
                    <tr>
                        <td>RoleId</td>
                        <td></td>
                        <td>角色代號</td>
                    </tr>
                    <tr>
                        <td>RoleName</td>
                        <td></td>
                        <td>角色名稱</td>
                    </tr>
                    <tr>
                        <td>RoleLevel</td>
                        <td></td>
                        <td>角色等級</td>
                    </tr>
                    <tr>
                        <td>PayNotifyUrl</td>
                        <td></td>
                        <td>驗證地址</td>
                    </tr>
                    <tr>
                        <td>OrderId</td>
                        <td></td>
                        <td>訂單編號</td>
                    </tr>
                    <tr>
                        <td>Receipt</td>
                        <td></td>
                        <td>IAP Vender 收據</td>
                    </tr>
                </table>
            </li>
        </ul>

        <span class="badge badge-ttl">回傳</span>
        <ul>
            <li>請參看【<a href="/java-init#listener">回調堅聽</a>】的設定，以及回傳的代碼與定義<a href="/webapi-init#section5">對照表</a>。</li>
            <li>
                回調堅聽的 Data 參數：<b>SgSDKPayResponse</b>
                <br />
                <table id="SgSDKPayResponse" class="table table-striped">
                    <tr>
                        <th>屬性</th>
                        <th>描述</th>
                    </tr>
                    <tr>
                        <td>Code</td>
                        <td>狀態代碼</td>
                    </tr>
                    <tr>
                        <td>Msg</td>
                        <td>狀態描述</td>
                    </tr>
                    <tr>
                        <td>Sign</td>
                        <td>由SG Server產生的簽名</td>
                    </tr>
                    <tr>
                        <td>ProductId</td>
                        <td>產品代號</td>
                    </tr>
                    <tr>
                        <td>ProductName</td>
                        <td>產品名稱</td>
                    </tr>
                    <tr>
                        <td>ProductDesc</td>
                        <td>產品描述</td>
                    </tr>
                    <tr>
                        <td>PaymentMethod</td>
                        <td>
                            產品種類：<br />
                            <span class="label label-primary">managed</span>
                            <span class="label label-primary">subscription</span>
                        </td>
                    </tr>
                    <tr>
                        <td>PaymentChannel</td>
                        <td>
                            平台：<br />
                            <span class="label label-primary">GooglePay</span>
                            <span class="label label-primary">WeChat</span>
                        </td>
                    </tr>
                    <tr>
                        <td>Price</td>
                        <td>產品價格</td>
                    </tr>
                    <tr>
                        <td>ServerId</td>
                        <td>伺服器代號</td>
                    </tr>
                    <tr>
                        <td>ServerName</td>
                        <td>伺服器名稱</td>
                    </tr>
                    <tr>
                        <td>RoleId</td>
                        <td>角色代號</td>
                    </tr>
                    <tr>
                        <td>RoleName</td>
                        <td>角色名稱</td>
                    </tr>
                    <tr>
                        <td>RoleLevel</td>
                        <td>角色等級</td>
                    </tr>
                    <tr>
                        <td>PayNotifyUrl</td>
                        <td>驗證地址</td>
                    </tr>
                    <tr>
                        <td>OrderId</td>
                        <td>訂單編號</td>
                    </tr>
                    <tr>
                        <td>Receipt</td>
                        <td>IAP Vender 收據</td>
                    </tr>
                </table>
            </li>
        </ul>

    </section>

    <section id="checkOrder">
        <h1>查詢訂單</h1>

        <span class="badge badge-ttl">API</span>
        <pre>.............</pre>

        <span class="badge badge-ttl">説明</span>
        <p>....................</p>

        <span class="badge badge-ttl">參數</span>
        <ul>
            <li>..............</li>
        </ul>

        <span class="badge badge-ttl">回傳</span>
        <ul>
            <li>請參看【<a href="/java-init#listener">回調堅聽</a>】的設定，以及回傳的代碼與定義<a href="/webapi-init#section5">對照表</a>。</li>
            <li>回調堅聽的 Data 參數：<b>SgSDKPayResponse</b></li>
        </ul>
    </section>

    <section id="restoreOrder">
        <h1>恢復購買</h1>

        <span class="badge badge-ttl">API</span>
        <pre>void restorePurchasedItems()</pre>

        <span class="badge badge-ttl">説明</span>
        <p>
            基本上，開發者不需要使用此函式。但若因爲某些原因，Google IAP 付款成功但卻 consume 失敗時，
            可以呼叫此函式，consume 所有尚未 consume 的訂單。
        </p>

        <span class="badge badge-ttl">參數</span>
        <ul>
            <li>無</li>
        </ul>

        <span class="badge badge-ttl">回傳</span>
        <ul>
            <li>請參看【<a href="/java-init#listener">回調堅聽</a>】的設定，以及回傳的代碼與定義<a href="/webapi-init#section5">對照表</a>。</li>
            <li>回調堅聽的 Data 參數：無。</li>
        </ul>

    </section>


</div>