<div class="left-side" id="myScrollspy">

    <ul class="nav nav-pills">
        <li><a href="#section1">支付流程</a></li>
        <li><a href="#section2">設定支付通知地址</a></li>
        <li><a href="#section3">Game Server 回應支付結果範例</a></li>
    </ul>

</div>

<div class="right-side">
    <section id="section1">
        <h1>支付流程</h1>
        <ol>
            <li>調用 <code>SGSDK.pay(<a href="/webapi-init#SGPayRequest"><b>SGPayRequest</b></a> req)</code>
            <li>根據 <code><a href="/webapi-init#SGPayRequest"><b>SGPayRequest</b></a>.PaymentChannel</code> 設定，調用apple支付，google支付或是微信支付。</li>
            <li>原生支付付款成功後 SG SDK 會向 SG Server 驗證收據是否合法。若收據合法將回傳 Code 1101 其他例外原因<a href="/webapi-init#section5">請參看對照表</a>。</li>
            <li>開發商的 Game Server 需要驗證收據的遊戲必須設定該遊戲的<a target="_blank" href="#section2">支付通知地址</a>。</li>
            <li>設定支付通知地址的遊戲，開發商的 Game Server 收到收據驗證過後須回應 "ok" 給 SG Server。 SG Server 才會回應 Code = 1101 給 SG SDK。</li>
        </ol>
    </section>

    <section id="section2">
        <h1>設定支付通知地址</h1>
        <ul>
            <li>設定支付通知地址後，支付結果就必須等候 Game Server 回應。</li>
            <li>開發者可至 <a target="_blank" href="https://dashboard.smartgamesltd.com/my-game">SG Developer</a> ，點選進行開發的遊戲。</li>
            <img src=<%= "assets/img/" + lang + "/pic15.png"%> class="img-responsive"/>
            <li>設定支付通知地址。</li>
            <img src=<%= "assets/img/" + lang + "/pic16.png"%> class="img-responsive"/>
        </ul>
    </section>

    <section id="section3">
        <h1>Game Server 回應支付結果範例</h1>
        <ul>
            <li>為提高安全性建議設置支付通知地址，當開發商的 Game Server 接收 SG Server 通知商品收據，驗證通過後再發送商品到遊戲中。</li>

            <li>
                node.js Game Server sample code :
                <% include ../code/server-pay.html %>
            </li>
        </ul>
    </section>
</div>