<div class="left-side" id="myScrollspy">
    <ul class="nav nav-pills">
        <li><a href="#section1">支付系統</a></li>
        <li><a href="#section2">環境設定</a></li>
        <li><a href="#IAPInit">IAP 初始化</a></li>
        <li><a href="#Pay">支付</a></li>
        <li><a href="#GetOrder">查詢購買收據</a></li>
        <li><a href="#RestorePurchase">恢復購買</a></li>
    </ul>
</div>

<div class="right-side">
    <div id="section1">
        <h1>支付系統</h1>
        <hr>
        <h4>與遊戲內購相關函式。</h4>
    </div>
    <br/>
    <div id="section2">
        <h1>環境設定</h1>
        <hr>
        <h4>要使用 Apple In-App Purchase 功能必須完成以下設定才能正常使用。</h4>
        <br/>
        <h4>XCode 設定</h4>
        <hr>
        <ol>
            <li>在 navigator 區點選專案。</li>
            <li>在 editor 區點選 Capabilities。</li>
            <li>啟用 In-App Purchase。</li>
            <li>在要使用 IAP 的 .swift 檔案加入<code>import StoreKit</code>。</li>
        </ol>
        <div class="well well-sm">
            <img src=<%= "assets/img/" + lang + "/swiftpic05.png" %> class="img-responsive"/>
        </div>
    </div>
    <br/>
    <div id="IAPInit">
        <h1>IAP 初始化</h1>
        <hr>
        函式名稱：<code>IAPInit(productIDs: [String])</code><br/>
        函式說明：In-App Purchase 初始化之後才能開始購買。<br/>
        參數：productIDs 是在 iTunes Connect 設定的商品編號<br/>
        範例：
        <% include ../code/swift-IAPInit.html %>
        返回值：
        <ul>
            <li>Code: 1131, IAP 初始化成功。</li>
            <li>Code: 1132, IAP 初始化失敗。</li>
            <li>Code: 1133, 拿不到商品資訊。</li>
            <li>Code: 1134, Msg: 列出無效的商品 ID。</li>
        </ul>
    </div>
    <br/>
    <div id="Pay">
        <h1>支付</h1>
        <hr>
        函式名稱：<code>Pay(payRequest: SgSDKPayRequest)</code><br/>
        函式說明：購買遊戲內付費商品時調用，向 app store 購買成功後會跟 SG Server 做驗證。<br/>
        參數：payRequest<br/>
        <h4>SgSDKPayRequest 結構</h4>
        <table id="SgSDKPayReuest" class="table table-striped">
            <col width="15%">
            <col width="10%">
            <col width="75%">
            <tr>
                <th>屬性</th>
                <th>是否必填</th>
                <th>描述</th>
            </tr>
            <tr>
                <td>ProductId</td>
                <td>Y</td>
                <td>產品代號</td>
            </tr>
            <tr>
                <td>ProductName</td>
                <td>Y</td>
                <td>產品名稱</td>
            </tr>
            <tr>
                <td>ProductDesc</td>
                <td>N</td>
                <td>產品描述</td>
            </tr>
            <tr>
                <td>PaymentMethod</td>
                <td>Y</td>
                <td>產品種類 ex. managed, subscription</td>
            </tr>
            <tr>
                <td>PaymentChannel</td>
                <td>N</td>
                <td>平台 ex.AppStore</td>
            </tr>
            <tr>
                <td>Price</td>
                <td>N</td>
                <td>產品價格</td>
            </tr>
            <tr>
                <td>ServerId</td>
                <td>N</td>
                <td>伺服器代號</td>
            </tr>
            <tr>
                <td>ServerName</td>
                <td>Ｎ</td>
                <td>伺服器名稱</td>
            </tr>
            <tr>
                <td>RoleId</td>
                <td>Ｎ</td>
                <td>角色代號</td>
            </tr>
            <tr>
                <td>RoleName</td>
                <td>Ｎ</td>
                <td>角色名稱</td>
            </tr>
            <tr>
                <td>RoleLevel</td>
                <td>Ｎ</td>
                <td>角色等級</td>
            </tr>
            <tr>
                <td>PayNotifyUrl</td>
                <td>Ｎ</td>
                <td>驗證地址</td>
            </tr>
            <tr>
                <td>OrderId</td>
                <td>Ｎ</td>
                <td>訂單編號</td>
            </tr>
            <tr>
                <td>Receipt</td>
                <td>Ｎ</td>
                <td>App store 收據</td>
            </tr>
        </table>

        <h4>SgSDKPayResponse 結構</h4>
        <table id="SgSDKPayResponse" class="table table-striped">
            <col width="15%">
            <col width="10%">
            <col width="75%">
            <tr>
                <th>屬性</th>
                <th>是否必填</th>
                <th>描述</th>
            </tr>
            <tr>
                <td>Code</td>
                <td>N</td>
                <td>狀態代碼</td>
            </tr>
            <tr>
                <td>Msg</td>
                <td>N</td>
                <td>狀態描述</td>
            </tr>
            <tr>
                <td>Sign</td>
                <td>N</td>
                <td>由 SG Server 產生的簽名</td>
            </tr>
            <tr>
                <td>ProductId</td>
                <td>Y</td>
                <td>產品代號</td>
            </tr>
            <tr>
                <td>ProductName</td>
                <td>Y</td>
                <td>產品名稱</td>
            </tr>
            <tr>
                <td>ProductDesc</td>
                <td>N</td>
                <td>產品描述</td>
            </tr>
            <tr>
                <td>PaymentMethod</td>
                <td>Y</td>
                <td>產品種類 ex. managed, subscription</td>
            </tr>
            <tr>
                <td>PaymentChannel</td>
                <td>N</td>
                <td>平台 ex.AppStore</td>
            </tr>
            <tr>
                <td>Price</td>
                <td>N</td>
                <td>產品價格</td>
            </tr>
            <tr>
                <td>ServerId</td>
                <td>N</td>
                <td>伺服器代號</td>
            </tr>
            <tr>
                <td>ServerName</td>
                <td>Ｎ</td>
                <td>伺服器名稱</td>
            </tr>
            <tr>
                <td>RoleId</td>
                <td>Ｎ</td>
                <td>角色代號</td>
            </tr>
            <tr>
                <td>RoleName</td>
                <td>Ｎ</td>
                <td>角色名稱</td>
            </tr>
            <tr>
                <td>RoleLevel</td>
                <td>Ｎ</td>
                <td>角色等級</td>
            </tr>
            <tr>
                <td>PayNotifyUrl</td>
                <td>Ｎ</td>
                <td>驗證地址</td>
            </tr>
            <tr>
                <td>OrderId</td>
                <td>Ｎ</td>
                <td>訂單編號</td>
            </tr>
            <tr>
                <td>Receipt</td>
                <td>Ｎ</td>
                <td>App store 收據</td>
            </tr>
        </table>

        範例：
        <pre>SgSDK.Instance.Pay(payRequest: initPayReq(productId: productIDs[0], payMethod: "managed"))</pre>
        <% include ../code/swift-initPayReq.html %>
        返回值：
        <ul>
            <li>Code: 1101, SgServer 驗證成功, Data:  <a href="#SgSDKPayResponse">SgSDKPayResponse</a>。</li>
            <li>Code: 1130, IAP 未初始化。</li>
            <li>Code: 1135, 查無商品 ID。</li>
            <li>Code: 1136, 與 app store 交易成功。</li>
            <li>Code: 1137, 與 app store 交易失敗。</li>
            <li>Code: 1142, 交易處理中。</li>
            <li><a href="/webapi-init#section5">查看回傳值定義</a>。</li>
        </ul>
    </div>
    <br/>
    <div id="GetOrder">
        <h1>查詢購買收據</h1>
        <hr>
        函式名稱：<code>GetOrder(orderId: String, gameKey: String, openId: Int, sign: String)</code><br/>
        函式說明：需傳送購買成功後的簽名(sign)，才能查詢訂單詳細內容。<br/>
        參數列表：
        <table class="table table-striped">
            <col width="15%">
            <col width="85%">
            <tr>
                <th>參數名稱</th>
                <th>描述</th>
            </tr>
            <tr>
                <td>orderId</td>
                <td><a href="#SgSDKPayResponse">SgSDKPayResponse</a> 的屬性。</td>
            </tr>
            <tr>
                <td>gameKey</td>
                <td>Game key</td>
            </tr>
            <tr>
                <td>openId</td>
                <td>Login後可用 <a href="/swift-user#GetOpenID">GetOpenID()</a> 取得。</td>
            </tr>
            <tr>
                <td>sign</td>
                <td><a href="#SgSDKPayResponse">SgSDKPayResponse</a> 的屬性。</td>
            </tr>
        </table>
        範例：
        <pre>SgSDK.Instance.GetOrder(orderId: tempPayresponse.OrderId, gameKey: GameKey, openId: openid, sign: tempPayresponse.Sign)</pre>
        返回值：
        <ul>
            <li>Code: 1201, 取得訂單成功, Data: <a href="#SgSDKPayReuest">SgSDKPayResponse</a></li>
            <li><a href="/webapi-init#section5">查看回傳值定義</a>。</li>
        </ul>
    </div>
    <br/>
    <div id="RestorePurchase">
        <h1>恢復購買</h1>
        <hr>
        函式名稱：<code>RestorePurchase</code><br/>
        函式說明：恢復購買，換手機時，只有在商品種類是 Non-Consumable, Auto-renewing subscription 這兩種商品會用到。<br/>
        範例：
        <pre>SgSDK.Instance.RestorePurchase()</pre>
        返回值：
        <ul>
            <li>Code: 1140, 沒有商品可以恢復</li>
            <li>Code: 1141, 商品恢復成功</li>
        </ul>
    </div>
</div>