<div class="col-sm-9">
    <div id="section1">
        <h1>統計系統</h1>
        <hr>
    </div>
    <br/>
    <div id="section2">
        <h1>統計遊戲時間</h1>
        <hr>
        函式名稱：<code>GameStart, GameStop</code><br/>
        函式說明：在遊戲啟動和遊戲從後台切到前台的時候調用 GameStart; 在遊戲退出和遊戲從前台切到後台的時候調用 GameStop，用以統計玩家進行遊戲的時間。<br/>
        範例：
        <pre>SgSDK.Instance.GameStart()</pre>
        返回值：無。<br/>
        <br/>
        範例：
        <pre>SgSDK.Instance.GameStop()</pre>
        返回值：<a href="/webapi-init#section5">查看回傳值定義</a>。
    </div>
</div>