<div class="left-side" id="myScrollspy">

    <ul class="nav nav-pills">
        <li><a href="#summary">支付系統</a></li>
        <li><a href="#getproducts">獲取產品列表</a></li>
        <li><a href="#buy">購買產品</a></li>
        <li><a href="#getorderstate">查詢訂單</a></li>
        <li><a href="#getorderinfos">獲取訂單信息列表</a></li>
    </ul>

</div>

<div class="right-side">

    <section id="summary">
        <h1>支付系統</h1>
        <p>SGUtil For Unity 的支付系統提供了下列方法供應用使用。支付功能和手段取決於渠道商。</p>
    </section>

    <section id="getproducts">
        <h1>獲取產品列表</h1>

        <span class="badge badge-ttl">方法</span>
        <p>
            <pre>void GetProductList(string filter)</pre>
        </p>

        <span class="badge badge-ttl">參數</span>
        <ul>
            <li>filter - 傳給遊服介面方法 getProductList 的參數，用來告知服獲對列表進行過濾或其他控制。</li>
        </ul>

        <span class="badge badge-ttl">說明</span>
        <ul>
            <li>從遊服獲取應用的產品（道具）列表。</li>
            <li>產品（道具）列表通過回調 OnProductFound 來通知給調用者。</li>
        </ul>

    </section>

    <section id="getproductscallback">
        <h1>獲取產品列表回調</h1>

        <span class="badge badge-ttl">方法</span>
        <p>
            <pre>void OnProductFound(SGUProduct product)</pre>
        </p>

        <span class="badge badge-ttl">參數</span>
        <ul>
            <li>product - 產品信息，成員見 SGU.cs 中的類定義。參看<a href=<%= "assets/html/" + lang + "/android/jdoc/com/sg/util/UProduct.html"%>> UProduct</a>。</li>
        </ul>

        <span class="badge badge-ttl">說明</span>
        <ul>
            <li>如果 product 爲 null 表明已沒有產品。</li>
        </ul>

    </section>

    <section id="buy">
        <h1>購買產品</h1>

        <span class="badge badge-ttl">方法</span>
        <p>
            <pre>void Buy(string product_id)</pre>
        </p>

        <span class="badge badge-ttl">參數</span>
        <ul>
            <li>product_id - 產品 ID</li>
        </ul>

        <span class="badge badge-ttl">說明</span>
        <ul>
            <li>發起購買產品流程。</li>
			<li>訂單的生成和狀態變化會通過 OnOrderStateChange 來通知給調用者，調用者應該保存通知的訂單號。</li>
            <li>購買的 UI 操作結果會通過回調 OnPay 來通知給調用者。</li>
			<li>在 OnPay 到來之前會有 OnOrderStateChange 來通知訂單狀態變化。</li>
        </ul>

    </section>

    <section id="buycallback">
        <h1>購買 UI 操作結果回調</h1>

        <span class="badge badge-ttl">方法</span>
        <p>
            <pre>void OnPay(SGUStateChangeReason reason)</pre>
        </p>

        <span class="badge badge-ttl">參數</span>
        <ul>
            <li>reason - STATE_CHANGE_REASON_OP_SUCCESS（操作成功）、STATE_CHANGE_REASON_OP_FAILURE（操作失敗）、STATE_CHANGE_REASON_OP_CANCELED（操作取消）之一</li>
        </ul>

        <span class="badge badge-ttl">說明</span>
        <ul>
            <li>如果 reason 爲 STATE_CHANGE_REASON_OP_SUCCESS，表明用戶已經確認支付所需金額，並且渠道已經受理此訂單。之後調用者可以調用 GetOrderState 來確認支付是否最終成功。</li>
        </ul>

    </section>

    <section id="getorderstate">
        <h1>查詢訂單</h1>

        <span class="badge badge-ttl">方法</span>
        <p>
            <pre>void GetOrderState(string order_id)</pre>
        </p>

        <span class="badge badge-ttl">參數</span>
        <ul>
            <li>order_id - 訂單號</li>
        </ul>

        <span class="badge badge-ttl">說明</span>
        <ul>
            <li>獲取訂單的狀態，用於在用戶的購買 UI 操作成功後查詢後臺的支付是否成功。</li>
			<li>注意：UI 操作成功不代表付款到賬。</li>
			<li>查詢結果通過 OnOrderStateChange 回調通知給調用者。</li>
        </ul>

    </section>

    <section id="ordercallback">
        <h1>訂單狀態通知回調</h1>

        <span class="badge badge-ttl">方法</span>
        <p>
            <pre>void OnOrderStateChange(SGUOrderState order_state)</pre>
        </p>

        <span class="badge badge-ttl">參數</span>
        <ul>
            <li>order_state - 訂單狀態</li>
        </ul>

        <span class="badge badge-ttl">說明</span>
        <ul>
            <li>此回調在 Buy 和 GetOrderState 被調用後引發。</li>
			<li>SGUOrderState 的成員 OrderID 在 成員 State 爲 "ordering" 時爲 null，在 State 爲 "ordered" 時纔有意義。此時調用者應保存此訂單號，以備將來查詢和管理。
			<li>有關 SGUOrderState 的成員 State 的取值，請參看 <a href=<%= "assets/html/" + lang + "/android/jdoc/com/sg/util/SGAgent.SGClient.html#onOrderStateChange-java.lang.String-java.lang.String-java.lang.String-"%>> SGAgent.SGClient.onOrderStateChange</a>。
			但是如果 State 爲 “error”的話，則表明 GetOrderState 調用失敗。</li>
        </ul>

    </section>

    <section id="getorderinfos">
        <h1>獲取訂單信息列表</h1>

        <span class="badge badge-ttl">方法</span>
        <p>
            <pre>void GetOrderInfoList(string filter)</pre>
        </p>

        <span class="badge badge-ttl">參數</span>
        <ul>
            <li>filter - 傳給遊服介面方法 getOrderInfoList 的參數，用來告知服獲對列表進行過濾或其他控制。</li>
        </ul>

        <span class="badge badge-ttl">說明</span>
        <ul>
            <li>從遊服獲取該用戶購買過的產品訂單。</li>
            <li>訂單信息列表通過回調 OnOrderInfoFound 來通知給調用者。</li>
        </ul>

    </section>

    <section id="getporderinfoscallback">
        <h1>獲取訂單信息列表回調</h1>

        <span class="badge badge-ttl">方法</span>
        <p>
            <pre>void OnOrderInfoFound(SGUOrder order)</pre>
        </p>

        <span class="badge badge-ttl">參數</span>
        <ul>
            <li>order - 訂單信息，成員見 SGU.cs 中的類定義。</li>
        </ul>

        <span class="badge badge-ttl">說明</span>
        <ul>
            <li>如果 order 爲 null 表明已沒有產品。</li>
        </ul>

    </section>

</div>