<div class="col-sm-9">
    <div id="section1">
        <h1>統計系統接口</h1>
        <hr>
        <h4>各種統計相關接口，用以統計遊戲數據。</h4>
    </div>
    <br>
    <div id="section2">
        <h1>統計遊戲時間</h1>
        <hr>
        <h4>統計玩家遊戲時間。</h4>
        <br/>
        <table class="table">
            <tr>
                <td>API</td>
                <td>
                    <code>gamestart</code>
                </td>
            </tr>
            <tr>
                <td>說明</td>
                <td>
                    在遊戲啟動和遊戲從後台切到前台的時候調用。
                </td>
            </tr>
            <tr>
                <td>HTTP Method</td>
                <td>
                    <code>GET</code>
                </td>
            </tr>
            <tr>
                <td>範例</td>
                <td>
                    <pre>http://gameapi.smartgamesltd.com/gamestart</pre>
                </td>
            </tr>
            <tr>
                <td>回傳值</td>
                <td>
                    回傳 JSON 字串。例如 <code>{"code": 1, "msg": "ok"}</code>。<br/>
                    完整 code 定義，<a href="/webapi-init#section5">請參看對照表</a>。
                </td>
            </tr>
        </table>
        <br/>
        <table class="table">
            <tr>
                <td>API</td>
                <td>
                    <code>gamestop</code>
                </td>
            </tr>
            <tr>
                <td>說明</td>
                <td>
                    在遊戲退出和遊戲從前台切到後台的時候調用 gamestop ，用以統計玩家進行遊戲的時間。
                </td>
            </tr>
            <tr>
                <td>HTTP Method</td>
                <td>
                    <code>GET</code>
                </td>
            </tr>
            <tr>
                <td>範例</td>
                <td>
                    <pre>http://gameapi.smartgamesltd.com/gamestop</pre>
                </td>
            </tr>
            <tr>
                <td>回傳值</td>
                <td>
                    回傳 JSON 字串。例如 <code>{"code": 1, "msg": "ok"}</code>。<br/>
                    完整 code 定義，<a href="/webapi-init#section5">請參看對照表</a>。
                </td>
            </tr>
        </table>
    </div>
</div>