<div class="left-side" id="myScrollspy">

    <ul class="nav nav-pills">
        <li><a href="#section1">支付系統接口</a></li>
        <li><a href="#section2">上傳商品收據</a></li>
        <li><a href="#section3">查詢購買收據</a></li>
    </ul>

</div>

<div class="right-side">
    <section id="section1">
        <h1>支付系統接口</h1>
        <h3>與遊戲內購相關接口。</h3>
    </section>

    <section id="section2">
        <h1>上傳商品收據</h1>
        <h3>購買遊戲內購商品(IAP)成功後，必須上傳商品收據，用作後台統計。</h3>
        <div class="row">
            <span class="badge badge-ttl">API</span>
            <p><code>pay</code></p>

            <span class="badge badge-ttl">HTTP Method</span>
            <p><code>POST</code></p>

            <span class="badge badge-ttl">説明</span>
            <p>成功購買遊戲內付費商品後調用，上傳商品數據。</p>

            <span class="badge badge-ttl">範例</span>
            <pre>http://gameapi.smartgamesltd.com/pay?productId=com.smartgamesltd.diamond1&productName=diamond&price=1.99</pre>

            <span class="badge badge-ttl">參數</span>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>
                        參數名稱
                    </th>
                    <th>
                        是否必傳
                    </th>
                    <th>
                        參數說明
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>
                        productId
                    </td>
                    <td>
                        Y
                    </td>
                    <td>
                        商品 ID，設定於 Google Play 或 App Store用於辨識商品的唯一ID<br/>
                        參數類型：字符串
                    </td>
                </tr>

                <tr>
                    <td>
                        productName
                    </td>
                    <td>
                        Y
                    </td>
                    <td>
                        商品名<br/>
                        參數類型：字符串
                    </td>
                </tr>

                <tr>
                    <td>
                        paymentMethod
                    </td>
                    <td>
                        Y
                    </td>
                    <td>
                        可重複購買商品：managed, 訂閱型商品：subscription 商品名<br/>
                        參數類型：字符串
                    </td>
                </tr>

                <tr>
                    <td>
                        paymentChannel
                    </td>
                    <td>
                        Y
                    </td>
                    <td>
                        Google：GooglePlay, 微信：WeChat, 智冠：MyCard<br/>
                        參數類型：字符串
                    </td>
                </tr>

                <tr>
                    <td>
                        productDesc
                    </td>
                    <td>
                        Ｎ
                    </td>
                    <td>
                        由游戏服务器管理的商品描述<br/>
                        參數類型：字符串
                    </td>
                </tr>

                <tr>
                    <td>
                        price
                    </td>
                    <td>
                        Y
                    </td>
                    <td>
                        商品價格(美元)<br/>
                        參數類型：浮點數
                    </td>
                </tr>

                <tr>
                    <td>
                        serverId
                    </td>
                    <td>
                        N
                    </td>
                    <td>
                        游戏服务器ID<br/>
                        參數類型：字符串
                    </td>
                </tr>

                <tr>
                    <td>
                        serverName
                    </td>
                    <td>
                        N
                    </td>
                    <td>
                        游戏服务器名<br/>
                        參數類型：字符串
                    </td>
                </tr>

                <tr>
                    <td>
                        roleId
                    </td>
                    <td>
                        Y
                    </td>
                    <td>
                        角色ID<br/>
                        參數類型：字符串
                    </td>
                </tr>

                <tr>
                    <td>
                        roleName
                    </td>
                    <td>
                        N
                    </td>
                    <td>
                        角色名<br/>
                        參數類型：字符串
                    </td>
                </tr>

                <tr>
                    <td>
                        roleLevel
                    </td>
                    <td>
                        N
                    </td>
                    <td>
                        角色级别<br/>
                        參數類型：整數
                    </td>
                </tr>
                </tbody>
            </table>

            <span class="badge badge-ttl">回傳</span>
            <p>接口調用成功後，以JSON格式返回原上傳參數，額外再加上 OrderID, code, msg, sign這4個參數。</p>
        </div>
    </section>

    <section id="section3">
        <h1>查詢購買收據</h1>
        <h3>查詢已購買商品收據。</h3>
        <div class="row">
            <span class="badge badge-ttl">API</span>
            <p><code>getorder</code></p>

            <span class="badge badge-ttl">HTTP Method</span>
            <p><code>POST</code></p>

            <span class="badge badge-ttl">説明</span>
            <p>需傳送購買成功後的簽名(sign)，才能查詢訂單詳細內容。</p>

            <span class="badge badge-ttl">範例</span>
            <pre>http://gameapi.smartgamesltd.com/getorder?order_id=11&game_key=d7e73390-d7fd-11e6-9074-21c247f06802&user_id=1000000022&sign=253db4397d1c40cb647d7ea15cb7fbee</pre>

            <span class="badge badge-ttl">參數</span>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>
                        參數名稱
                    </th>
                    <th>
                        是否必傳
                    </th>
                    <th>
                        參數說明
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>
                        order_id
                    </td>
                    <td>
                        Y
                    </td>
                    <td>
                        提交 pay 購買資料後回傳的訂單編號 OrderID。
                    </td>
                </tr>
                <tr>
                    <td>
                        game_key
                    </td>
                    <td>
                        Y
                    </td>
                    <td>
                        開發者申請開通遊戲後取得的gamekey。例如 d7e73390-d7fd-11e6-9074-21c247f06802
                    </td>
                </tr>
                <tr>
                    <td>
                        user_id
                    </td>
                    <td>
                        Y
                    </td>
                    <td>
                        登入成功後取得的OpenID。
                    </td>
                </tr>
                <tr>
                    <td>
                        sign
                    </td>
                    <td>
                        Y
                    </td>
                    <td>
                        提交 pay 購買資料後回傳的簽名 sign。
                    </td>
                </tr>
                </tbody>
            </table>

            <span class="badge badge-ttl">回傳</span>
            <p>以JSON格式回購買商品收據。</p>
        </div>
    </section>
</div>