<h2 class="text-primary">Forgot your password?</h2>

<% if (RecMessage != '' && RecMessage.length > 20) { %>
	<div class="well well-sm" style="width: 500px; background-color: #00B7FF"><%= RecMessage %></div>
<% } else { %>
	<form action="/forgot-password" method="post">
		<input class="form-control input-lg" type="text" id='PageInput' name="email" placeholder="Email" style="width: 300px"/>
		<br>
		<button type="submit" class="btn btn-primary btn-lg" value= 'Search' style="width: 300px">Request new password</button>
	</form>

	<% if (locals.RecMessage) { %>
		<br>
		<br>
		<div class="well well-sm" style="width: 500px;"><%= RecMessage %></div>
	<% } %>
<% } %>

<br>
<h5 class="login"><a href="/login">Back to login</a></h5>