<h2 class="text-primary">SG Tool Login</h2>

<form action="/login" method="post">
	<input class="form-control input-lg" type="text" id='PageInput' name="account" placeholder="Email" style="width: 300px"/>
	<br>
	<input class="form-control input-lg" type="password" id="PageInput" name="password" placeholder="Password" style="width: 300px"/>
	<br>
	<button type="submit" class="btn btn-primary btn-lg" value= 'Search' style="width: 300px">Sign In</button>
</form>

<% if (locals.RecMessage) { %>
<br>
<div class="well well-sm" style="width: 300px;"><%= RecMessage %></div>
<% } %>

<br>
<h5><a class="text-primary" href="/forgot-password">Forgot your password?</a></h5>