<style type="text/css">
	.borderless td, .borderless th {
		border: none;
	}
</style>

<div class="container">
	<div class="col-md-2 text-center">
	</div>
	<div class="col-md-8 text-center">
		<div class="jumbotron boxlogin">
			<h2 class="text-primary">My Account</h2>
			<hr style="width: 500px; height: 1px; background-color:#B0E0E6;">

			<% if (locals.Team) { %>
				<h3 class="text-primary"><%= Team.Account %></h3>

				<form action="/my-account" method="post">
					<table class="table-login" align="center">
						<tr style="height: 40px">
							<td align="left">Your Name</td>
							<td><input type="text" name="name" id="name" class="form-control"/></td>
						</tr>

						<tr style="height: 40px;">
							<td align="left">Phone Number</td>
							<td class="column-verticallineMiddle form-inline" style="vertical-align:middle;">
								<div class="form-group">
									<select id="areacode" name="areacode" class="show-tick form-control">
										<option value="+886" selected="selected">台灣＋886</option>
										<option value="+852">香港＋852</option>
										<option value="+853" >澳門+853</option>
										<option value="+60">馬來西亞＋60</option>
										<option value="+64">澳大利亞＋64</option>
										<option value="+65">新加坡＋65</option>
										<option value="+81">日本＋81</option>
										<option value="+82">韓國＋82</option>
										<option value="+86">中國＋86</option>
										<option value="+1">美加＋1</option>
									</select>
								</div>

								<input type="text" name="phone" id="phone" class="form-control" maxlength="11"/>
							</td>
						</tr>
					</table>

					<br>
					<button type="submit" class="btn btn-primary btn-lg" value= 'Search' style="width: 300px">Update</button>
				</form>
			<% } %>

			<% if (locals.RecMessage) { %>
			<br>
			<br>
			<div class="well well-sm" align="center"><%= RecMessage %></div>
			<% } %>
		</div>
	</div>
	<div class="col-md-2 text-center">
	</div>
</div>