<div class="container" id="content">
	<h2 class="text-primary">Change Password for </h2>
	<% if (EMail != '') { %>
		<h2 class="text-primary"><%= EMail %></h2><br>
	<% } %>

	<form action="/reset-password" method="post">
		<input class="form-control input-lg" type="password" id='PageInput' name="pw" placeholder="Password" style="width: 300px"/>
		<br>
		<input class="form-control input-lg" type="password" id='PageInput' name="conpw" placeholder="Confirm Password" style="width: 300px"/>
		<br>
		<button type="submit" class="btn btn-primary btn-lg" value= 'Search' style="width: 300px">Set new password</button>
	</form>

	<% if (locals.RecMessage) { %>
	<br>
	<br>
	<div class="well well-sm" style="width: 300px;"><%= RecMessage %></div>
	<% } %>
</div>