<nav class="col-sm-3" id="myScrollspy">
    <ul class="nav nav-pills nav-stacked well" data-spy="affix" data-offset-top="500" style="background-color: white">
        <li><a href="#section1"><h4>《API服务开通》</h4></a></li>
        <li><a href="#section2"><h4>開發者帳號申請</h4></a></li>
        <li><a href="#section3"><h4>開通開發者帳號</h4></a></li>
        <li><a href="#section4"><h4>新建游戏</h4></a></li>
        <li><a href="#section5"><h4>開通游戏</h4></a></li>
    </ul>
</nav>

<div class="col-sm-9">
    <div id="section1">
        <h1>《API服务开通》</h1>
        <hr>
    </div>
    <div id="section2">
        <h1>開發者帳號申請</h1>
        <hr>
        <h4>對接樂苗文創多媒體 遊戲平台API之前需要先申請開發者帳號，可以到 <a target="_blank" href="http://sgdashboard.nicemarket.com.tw/signup">http://sgdashboard.nicemarket.com.tw/signup</a> 上注册账号。填寫公司名稱與聯絡人以利管理人員為您開通帳號。</h4>
        <img src="assets/img/pic01.png" class="img-responsive"/>
    </div>
    <div id="section3">
        <h1>開通開發者帳號</h1>
        <hr>
        <h4>注册完後須等候管理人員發送開通Email。待收到帳號Email後點擊開通連結即可登入。</h4>
    </div>
    <div id="section4">
        <h1>新建游戏</h1>
        <hr>
        <h4>可以到 <a target="_blank" href="http://sgdashboard.nicemarket.com.tw/my-game">http://sgdashboard.nicemarket.com.tw/my-game</a> 新增要上架的遊戲。</h4>
        <div class="well well-sm" style="width: 840px;">
            <img src="assets/img/pic02.png" class="img-responsive"/>
        </div>
    </div>
    <div id="section5">
        <h1>開通游戏</h1>
        <hr>
        <h4>新增遊戲後須等候管理人員開通遊戲。待收到遊戲開通Email後即可獲得 Game ID 與 Private Key，開始對接遊戲API。</h4>
    </div>
</div>