<div class="left-side" id="myScrollspy">
    <ul class="nav nav-pills">
        <li><a href="#MemberSystem">User System</a></li>
    </ul>
</div>
<div class="right-side">
    <section id="MemberSystem">
        <h1>User System</h1>
        
        <p>The user system of SGAgent provides following methods.</p>
Exit
<pre>void exit()
</pre>

Get user state
<pre>int getUsrState()
</pre>

Login
<pre>boolean login()
</pre>

Logout
<pre>boolean logout()
</pre>

<p>Please refer to <a href=<%= "assets/html/" + lang + "/android/jdoc/com/sg/util/SGAgent.html"%>> SGAgent Document</a> for details.</p>
</div>
