<div class="left-side" id="myScrollspy">
    <ul class="nav nav-pills">
        <li><a href="#MemberSystem">Payment System</a></li>
    </ul>
</div>
<div class="right-side">
    <section id="MemberSystem">
        <h1>Payment System</h1>
        
        <p>The payment system of SGAgent provides following APIs.</p>

Start product purchase process
<pre>boolean buyProduct(UProduct product)
</pre>

Get job state of information retrieval state machine
<pre>int getJobState()
</pre>

Start process of order infomation list retrieval
<pre>boolean getOrderInfoList(String filter)
</pre>

Start process of getting order state
<pre>boolean getOrderState(String orderID)
</pre>

Get state of product purchase state machine
<pre>int getPayState()
</pre>

Look up product by orderID
<pre>UProduct getProductByOrderID(String orderID)
</pre>

Get job state of product list retrieval
<pre>boolean getProducts(String filter, boolean sorting)
</pre>

Set time intervals to wait before send order state query
<pre>void setOrderStateCheckingIntervals(int[] intervals)
</pre>

Ask SGAgent to send next order information via onOrderInfoFound
<pre>void wantOrderInfo()
</pre>

Ask SGAgent to send next product information via onProductFound
<pre>void wantProduct()
</pre>

Start process of treasure list retrieval
<pre>boolean getTreasureList()
</pre>

Start process of treasure count increment
<pre>boolean incTreasure(String name, int value)
</pre>

<p>Please refer to <a href=<%= "assets/html/" + lang + "/android/jdoc/sgutil/com/sg/util/SGAgent.html"%>> SGAgent Document</a> for details.</p>
</div>
