<div class="left-side" id="myScrollspy">

    <ul class="nav nav-pills">
        <li><a href="#summary">Payment System</a></li>
        <li><a href="#environment">Development Setting</a></li>
        <li><a href="#pay">Pay</a></li>
        <li><a href="#checkOrder">Get Order</a></li>
        <li><a href="#consumeOrder">Consume Purchased Items</a></li>
    </ul>

</div>

<div class="right-side">

    <section id="summary">
        <h1>Payment System</h1>
        <p>
            SG Payment system incorporates third-party vendors billing system to help you implement in-app purchasing (IAP) function easier.
        </p>
    </section>

    <section id="environment">
        <h1>Development Setting</h1>
        <p>Please add following <code>meta-data</code> setting in <b>AndroidManifest.xml</b> before using IAP functions:</p>
        <div class="code-block"><%- include ../code/java-sdk-metadata.html -%></div>
        <ul>
            <li>
                <b>SDKChannel (required)</b>：SDK channel setting.
                （<a href="/channel">Please refer to Channel List table</a>）
            </li>
            <li>
                <b>Base64PublicKey</b>：Only required when using Google IAP service.
                (Please refer to
                <a href="https://developer.android.com/google/play/billing/index.html" target="_blank">
                    Google In-app Billing development document
                </a>)
            </li>
        </ul>
    </section>

    <section id="pay">
        <h1>Pay</h1>

        <span class="badge badge-ttl">Function</span>
        <p>
            <pre>void pay(SGPayRequest req)</pre>
        </p>

        <span class="badge badge-ttl">Description</span>
        <ul>
            <li>
                Launches third-party vendor IAP flow, and uploads order information to SG server.
            </li>
            <li>
                Note on Google IAP: when using Google IAP, the <code>pay</code> function initializes (once) Google IAP service automatically.  
                It also consumes the product automatically, after purchased successfully.
            </li>
        </ul>

        <span class="badge badge-ttl">Parameters</span>
        <ul>
            <li>
                <a href="/webapi-init#SGPayRequest"><b>SGPayRequest</b></a>
            </li>
        </ul>

        <span class="badge badge-ttl">Response</span>
        <ul>
            <li>
                Please refer to 【<a href="/java-init#listener">SDK Callback Listener</a>】
                and 【<a href="/webapi-init#section5">Response Code Definition</a>】for more detail.
            </li>
            <li>Listener result data: <a href="/webapi-init#SGPayResponse"><b>SGPayResponse</b></a>. </li>
        </ul>

    </section>

    <section id="checkOrder">
        <h1>Get Order</h1>

        <span class="badge badge-ttl">Function</span>
        <pre>void getOrder(String orderId, String gameKey, String openId, String sign)</pre>

        <span class="badge badge-ttl">Description</span>
        <ul>
            <li>Obtain detailed order and receipt information of previous successful orders.</li>
        </ul>

        <span class="badge badge-ttl">Parameters</span>
        <table class="table table-striped">
            <tr>
                <td>gameKey</td>
                <td>Your developer identification.</td>
            </tr>
            <tr>
                <td>openId</td>
                <td>SG member ID.  You can obtain it through <a href="/java-user#GetOpenID">GetOpenID()</a> after user login.</td>
            </tr>
            <tr>
                <td>orderId</td>
                <td>Order ID you passed in when making the purchase.</td>
            </tr>
            <tr>
                <td>sign</td>
                <td>
                    Signature generated from above three parameters.<br />
                    Please refer to <a href="/server-sign#section2">signature generation algorithm</a>.
                </td>
            </tr>
        </table>

        <span class="badge badge-ttl">Response</span>
        <ul>
            <li>
                Please refer to 【<a href="/java-init#listener">SDK Callback Listener</a>】
                and 【<a href="/webapi-init#section5">Response Code Definition</a>】for more detail.
            </li>
            <li>Listener result data: <a href="/webapi-init#SGPayResponse"><b>SGPayResponse</b></a>. </li>
        </ul>
    </section>

    <section id="consumeOrder">
        <h1>Consume Purchased Items</h1>

        <span class="badge badge-ttl">Function</span>
        <pre>void consumePurchasedItems()</pre>

        <span class="badge badge-ttl">Description</span>
        <ul>            
            <li>
                The function is only needed when you using Google IAP and encounter <code>reponse code 1174</code> (purchase successful yet consume failed).  It consumes all previous purchased but not consumed items.
            </li>
            <li>The function is also called automatically in <b>Activity</b> <code>onResume</code> event. </li>
        </ul>

        <span class="badge badge-ttl">Response</span>
        <ul>
            <li>
                Please refer to 【<a href="/java-init#listener">SDK Callback Listener</a>】
                and 【<a href="/webapi-init#section5">Response Code Definition</a>】for more detail.
            </li>
            <li>Listener result data: NULL. </li>
        </ul>

    </section>


</div>