<div class="left-side" id="myScrollspy">

    <ul class="nav nav-pills">
        <li><a href="#section1">Signature Algorithm</a></li>
        <li><a href="#section2">Sample Codes </a></li>
    </ul>

</div>

<div class="right-side">
    <section id="section1">
        <h1>Signature Algorithm</h1>
        <p>Here are the steps of how to generate a signature:</p>
        <ol>
            <li>
                Sort all non-empty parameters by name ascendingly (exclude <b>sign</b> parameter).
            </li>
            <li>
                Combine above parameters with its name and value sequentially into a string.
            </li>
            <li>
                Hash the string with MD5 algorithm, and then make lowercase of it.
            </li>
            <li>
                Append PrivateKey to the string, and repeat the step above.  There is your signaures.
            </li>
        </ol>
    </section>
    <section id="section2">
        <h1>Sample Codes </h1>
        <ul>
            <li>
                Take <a href="/webapi-pay#section3">GetOrder</a> as an example,
                combine <b>gamekey</b>, <b>openid</b>, <b>orderid</b> parameters name-value into a string, hash with MD5 algoritm, and make lowercase of it.
            </li>
            <li>
                Append <a href="/api-open#section5">PrivateKey</a> to the string, hash with MD5 algoritm, and make lowercase of it.
                There is your signaures.
            </li>
            <li>
                node.js sample code :
                <% include ../code/server-sign.html %>
            </li>
        </ul>
    </section>
</div>