<div class="left-side" id="myScrollspy">

    <ul class="nav nav-pills">
        <li><a href="#section1">Payment Flow</a></li>
        <li><a href="#section2">Paid Notify URL</a></li>
        <li><a href="#section3">Game Server Response Example</a></li>
    </ul>

</div>

<div class="right-side">
    <section id="section1">
        <h1>Payment Flow</h1>
        <ol>
            <li>Call <code>SGSDK.pay(<a href="/webapi-init#SGPayRequest"><b>SGPayRequest</b></a> req) function.</code>
            <li>Based on setting of <code><a href="/webapi-init#SGPayRequest"><b>SGPayRequest</b></a>.PaymentChannel</code>, SDK launches third party vendor (google, applpe or wechat) IAP flow.</li>
            <li>
                After successfully purchasing the item, SGSDK upload order and receipt information to SG server for validation.  If valid, it returns <code>Code:1101</code>, otherwise please refer to 【<a href="/webapi-init#section5">Response Code Definition</a>】for more detail.
            </li>
            <li>If you need to vildate orders thorugh your own Game server, before SG server returns a valid message, you have to setup <a target="_blank" href="#section2">Paid Notify URL</a> in developer console.</li>
            <li>After your own validation, you need to send Status = 'ok' to SG server for it to return <code>Code:1101</code>. to the SGSDK.</li>
        </ol>
    </section>

    <section id="section2">
        <h1>Paid Notify URL</h1>
        <ul>
            <li>If you need your own order validation before SG server returns a valid message, you have to setup <b>Paid Notify URL</b> value.</li>
            <li>In <a target="_blank" href="http://dashboard.smartgamesltd.com/my-game">SG Developer</a> console, click on the game you want to validate payment.</li>
            <img src=<%= "assets/img/" + lang + "/pic15.png"%> class="img-responsive"/>
            <li>Enter your Paid Notify URL.</li>
            <img src=<%= "assets/img/" + lang + "/pic16.png"%> class="img-responsive"/>
        </ul>
    </section>

    <section id="section3">
        <h1>Game Server Response Example</h1>
        <ul>
            <li>為防止外掛建議設置支付通知地址設定，由開發商的 Game Server 接收 SG Server 通知商品收據。</li>
            <li>當支付通知地址接收到商品收據 Code = 1101，再回應 Status = 'ok' 給 SG Server。</li>
            <li>SG Server 再將 Game Server 回應的結果通知 SG SDK。</li>
            <li>
                node.js Game Server sample code :
                <% include ../code/server-pay.html %>
            </li>
        </ul>
    </section>
</div>