<div class="left-side" id="myScrollspy">
    <ul class="nav nav-pills">
        <li><a href="#section1">Statistical System</a></li>
        <li><a href="#GameTime">Measure Game Time</a></li>
    </ul>
</div>

<div class="right-side">
    <section id="section1">
        <h1>Statistical System</h1>
        <p>Statistical functions are used to measure game status for analytical reports.</p>
    </section>

    <section id="GameTime">
        <h1>Measure Game Time</h1>
        <h3>1.Game start</h3>
        <span class="badge badge-ttl">Function</span>
        <p>
        <pre>GameStart() -> Void</pre>
        </p>

        <span class="badge badge-ttl">Description</span>
        <ul>
            <li>When game started, call this function to notify server to start recording.</li>
        </ul>

        <span class="badge badge-ttl">Response</span>
        <ul>
            <li>
                Please refer to 【<a href="/swift-init#listener">SDK Callback Listener</a>】
                and 【<a href="/webapi-init#section5">Response Code Definition</a>】for more detail.
            </li>
            <li>Listener result data: None. </li>
        </ul>
        <br/>
        <h3>2.Game stop</h3>
        <span class="badge badge-ttl">Function</span>
        <p>
        <pre>GameStop() -> Void</pre>
        </p>

        <span class="badge badge-ttl">Description</span>
        <ul>
            <li>When game stopped, call this function to notify server to stop recording.</li>
        </ul>

        <span class="badge badge-ttl">Response</span>
        <ul>
            <li>
                Please refer to 【<a href="/swift-init#listener">SDK Callback Listener</a>】
                and 【<a href="/webapi-init#section5">Response Code Definition</a>】for more detail.
            </li>
            <li>Listener result data: None. </li>
        </ul>
    </section>
</div>