<div class="left-side" id="myScrollspy">
    <ul class="nav nav-pills">
        <li><a href="#section1">Introduction</a></li>
        <li><a href="#section2">Development Environment</a></li>
        <li><a href="#section3">Initialization</a></li>
        <li><a href="#section4">Release Resource</a></li>
    </ul>
</div>

<div class="right-side">
    <section id="section1">
        <h1>Introduction</h1>
        <p>
            SG iOS SDK allows you to connect to SG backend services easily when develeping iOS App using Swift.
        </p>
        <p>
            It's important for you to read through and understand the document before starting development.
        </p>
    </section>

    <section id="section2">
        <h1>Development Environment</h1>
        <h3>1.SDK minimum version requirement</h3>
        <ul>
            <li>Minimum iOS version: 8.0</li>
            <li>Minimum Swift version： 3</li>
        </ul>
        <h3>2.Download SGSDK iOS framework</h3>
        <ul>
            <li><a href="/sdk/ios/debug/SGSDK.framework.zip" download>SGSDK Framework (debug, for emulators)</a></li>
            <li><a href="/sdk/ios/release/SGSDK.framework.zip" download>SGSDK Framework (release, for real devices)</a></li>
        </ul>
        <h3>3.Sample application</h3>
        <ul>
            <li><a href="https://github.com/SGMoxyStudios/SGSDK-iOS-Sample" target="_blank">SGSDK iOS Sample</a></li>
        </ul>
        <br/>
        <div id="section2-1">
            <h3>4.SGSDK Framework(swift)</h3>
            <hr>
            <p>Copy SGSDK.framework to project folder</p>
            <div class="well well-sm">
                <img src=<%= "assets/img/" + lang + "/swiftpic01.png" %> class="img-responsive"/>
            </div>
        </div>
        <div id="section2-2">
            <h3>5.XCode settings</h3>
            <hr>
            <ol>
                <li>In navigator area, select your project.</li>
                <li>From editor area, click <b>General</b>.</li>
                <li>Go down to <b>Embedded Binaries</b> section.</li>
                <li>Click ＋.</li>
                <li>Select <b>Add Other...</b>.</li>
                <li>Copy SGSDK.framework then click <b>Finish</b>.</li>
                <li>You will see SGSDK.framework appeared in <b>Embedded Binaries</b> and <b>Linked Frameworks</b> sections.</li>
            </ol>
            <div class="well well-sm">
                <img src=<%= "assets/img/" + lang + "/swiftpic02.png" %> class="img-responsive"/>
                <img src=<%= "assets/img/" + lang + "/swiftpic03.png" %> class="img-responsive"/>
                <img src=<%= "assets/img/" + lang + "/swiftpic04.png" %> class="img-responsive"/>
            </div>
        </div>
        <div id="section2-3">
            <h3>6.Import SGSDK</h3>
            <hr>
            <p>In your Swift project, import  SGSDK.</p>
            <pre>import SGSDK</pre>
        </div>
    </section>

    <section id="section3">
        <h1>Initialization</h1>

        <section id="listener">
            <h3>1.SGSDK Callback Listener</h3>
            <span class="badge badge-ttl">Function</span>
            <p>
            <pre>SetListener(listener: @escaping (SGListenerResult) -> Void) -> Void</pre>
            </p>
            <span class="badge badge-ttl">Description</span>
            <ul>
                <li>In order to get the result of many SDK asynchronized functions, you need to register a Listener to handle the response data.</li>
            </ul>

            <span class="badge badge-ttl">Example</span>
            <p>
            <% include ../code/swift-setListener.html %>
            </p>

            <span class="badge badge-ttl">Parameters</span>
            <ul>
                <li>
                    SDK responses through <a href="/webapi-init#SGListenerResult"><b>SGListenerResult</b></a> object, which contains three members: <code>Code</code>，<code>Message</code> 和 <code>Data</code>.
                    Based on different situation, <code>Data</code> might be NULL or an object.  Please refer to each function for more detail.
                </li>
            </ul>
            <br/>
        </section>

        <h3>2.SGSDK initialization</h3>
        <span class="badge badge-ttl">Function</span>
        <p>
        <pre>Init(GameKey: String, AppSecret: String) -> Void</pre>
        </p>

        <span class="badge badge-ttl">Description</span>
        <ul>
            <li>Initialize SDK.  You have to call <code>Init</code> function once before any other functions. </li>
        </ul>

        <span class="badge badge-ttl">Parameters</span>
        <ul>
            <li>GameKey</li>
            <li>AppSecret</li>
        </ul>
        <span class="badge badge-ttl">Response</span>
        <ul>
            <li>
                Please refer to 【<a href="/swift-init#listener">SDK Callback Listener</a>】
                and 【<a href="/webapi-init#section5">Response Code Definition</a>】for more detail.
            </li>
            <li>Listener result data: None. </li>
        </ul>
    </section>

    <section id="section4">
        <h1>Release Resource</h1>
        <span class="badge badge-ttl">Function</span>
        <p>
        <pre>Destroy() -> Void</pre>
        </p>

        <span class="badge badge-ttl">Description</span>
        <ul>
            <li>Release SGSDK resource.</li>
        </ul>
    </section>
</div>