<div class="left-side" id="myScrollspy">
    <ul class="nav nav-pills">
        <li><a href="#section1">Payment System</a></li>
        <li><a href="#section2">Development Setting</a></li>
        <li><a href="#IAPInit">IAP Initialization</a></li>
        <li><a href="#Pay">Pay</a></li>
        <li><a href="#GetOrder">Get Order</a></li>
        <li><a href="#RestorePurchase">Restore Purchase</a></li>
    </ul>
</div>

<div class="right-side">
    <section id="section1">
        <h1>Payment System</h1>
        <p>SG Payment system incorporates third-party vendors billing system to help you implement in-app purchasing (IAP) function easier.</p>
    </section>

    <section id="section2">
        <h1>Development Setting</h1>
        <p>
            Please follow settings bellow before using Apple In-App Purchase service.
        </p>
        <br />
        <h3>1.XCode settings</h3>
        <hr>
        <ol>
            <li>In navigator area, select your project.</li>
            <li>From editor area, click <b>Capabilities</b>.</li>
            <li>Turn on <b>In-App Purchase</b>.</li>
            <li>Import StoreKit.</li>
        </ol>
        <div class="well well-sm">
            <img src=<%= "assets/img/" + lang + "/swiftpic05.png" %> class="img-responsive"/>
        </div>
    </section>

    <section id="IAPInit">
        <h1>IAP Initialization</h1>
        <span class="badge badge-ttl">Functions</span>
        <p>
        <pre>IAPInit(productIDs: [String]) -> Void</pre>
        </p>

        <span class="badge badge-ttl">Description</span>
        <ul>
            <li>Initialize In-App Purchase service.</li>
        </ul>

        <span class="badge badge-ttl">Example</span>
        <p>
            <% include ../code/swift-IAPInit.html %>
        </p>

        <span class="badge badge-ttl">Parameters</span>
        <ul>
            <li>productIDs is the ID you set in iTunes Connect account.</li>
        </ul>

        <span class="badge badge-ttl">Response</span>
        <ul>
            <li>
                Please refer to 【<a href="/swift-init#listener">SDK Callback Listener</a>】
                and 【<a href="/webapi-init#section5">Response Code Definition</a>】for more detail.
            </li>
            <li>Listener result data: None. </li>
        </ul>
    </section>

    <section id="Pay">
        <h1>Pay</h1>
        <span class="badge badge-ttl">Functions</span>
        <p>
        <pre>Pay(payRequest: SGPayRequest) -> Void</pre>
        </p>

        <span class="badge badge-ttl">Description</span>
        <ul>
            <li>
                Launches third-party vendor IAP flow, and uploads order information to SG server.
            </li>
            <li>SGPayRequest.PaymentChannel needs to set as "AppStore"。</li>
        </ul>

        <span class="badge badge-ttl">Example</span>
        <p>
        <pre>SGSDK.Instance.Pay(payRequest: initPayReq(productId: productIDs[0], payMethod: "managed"))</pre>
        <% include ../code/swift-initPayReq.html %>
        </p>

        <span class="badge badge-ttl">Parameters</span>
        <ul>
            <li>
                <a href="/webapi-init#SGPayRequest"><b>SGPayRequest</b></a>
            </li>
        </ul>

        <span class="badge badge-ttl">Response</span>
        <ul>
            <li>
                Please refer to 【<a href="/swift-init#listener">SDK Callback Listener</a>】
                and 【<a href="/webapi-init#section5">Response Code Definition</a>】for more detail.
            </li>
            <li>Listener result data: <a href="/webapi-init#SGPayResponse">SGPayResponse</a>. </li>
        </ul>
    </section>

    <section id="GetOrder">
        <h1>Get Order</h1>
        <span class="badge badge-ttl">Functions</span>
        <p>
        <pre>GetOrder(orderId: String, gameKey: String, openId: String, sign: String) -> Void</pre>
        </p>

        <span class="badge badge-ttl">Description</span>
        <ul>
            <li>Obtain detailed order and receipt information of previous successful orders.</li>
        </ul>

        <span class="badge badge-ttl">Parameters</span>
        <table class="table table-striped">
            <tr>
                <td>gameKey</td>
                <td>Your developer identification.</td>
            </tr>
            <tr>
                <td>openId</td>
                <td>SG member ID.  You can obtain it through <a href="/swift-user#GetOpenID">GetOpenID()</a> after user login.</td>
            </tr>
            <tr>
                <td>orderId</td>
                <td>Order ID you passed in when making the purchase.</td>
            </tr>
            <tr>
                <td>sign</td>
                <td>
                    Signature generated from above three parameters.<br />
                    Please refer to <a href="/server-sign#section2">signature algorithm</a>.
                </td>
            </tr>            
        </table>

        <span class="badge badge-ttl">Response</span>
        <ul>
            <li>
                Please refer to 【<a href="/swift-init#listener">SDK Callback Listener</a>】
                and 【<a href="/webapi-init#section5">Response Code Definition</a>】for more detail.
            </li>
            <li>Listener result data: <a href="/webapi-init#SGPayResponse">SGPayResponse</a>. </li>
        </ul>
    </section>
    <br/>
    <section id="RestorePurchase">
        <h1>Restore Purchase</h1>
        <span class="badge badge-ttl">Functions</span>
        <p>
        <pre>RestorePurchase() -> Void</pre>
        </p>

        <span class="badge badge-ttl">Description</span>
        <ul>
            <li>When users switch to a  new phone, you need to call this function to restore purchased for <b>Non-Consumable</b> and <b>Auto-renewing subscription</b> products.</li>
        </ul>

        <span class="badge badge-ttl">Response</span>
        <ul>
            <li>
                Please refer to 【<a href="/swift-init#listener">SDK Callback Listener</a>】
                and 【<a href="/webapi-init#section5">Response Code Definition</a>】for more detail.
            </li>
            <li>Listener result data: None. </li>
        </ul>
    </section>
</div>