<div class="left-side" id="myScrollspy">

    <ul class="nav nav-pills">
        <li><a href="#summary">Payment System</a></li>
        <li><a href="#environment">Payment Initialization Setting</a></li>
        <li><a href="#pay">Pay & Upload Order</a></li>
        <li><a href="#checkOrder">Get Order</a></li>
        <li><a href="#consumeOrder">Other Payment Function</a></li>
    </ul>

</div>

<div class="right-side">

    <section id="summary">
        <h1>Payment System</h1>
        <p>SGSDK can call Google, WeChat or Apple payment.</p>
    </section>

    <section id="environment">
        <h1>Payment Initialization Setting</h1>
        <h3>1.Google Payment Setting</h3>
        <p>Please add following <code>meta-data</code> setting in <b>AndroidManifest.xml</b> before using IAP functions:</p>
        <div class="code-block"><%- include ../code/java-sdk-metadata.html -%></div>
        <br />

        <h3>2.WeChat Payment</h3>
        <ul>
            <li>Just set <code>PaymentChannel = "WeChat"</code> you can call WeChat payment.</li>
        </ul>
        <br />

        <h3>3.Apple Initialization Setting</h3>
        <span class="badge badge-ttl">Function</span>
        <p>
        <pre>void IAPInit(string productsJSON)</pre>
        </p>

        <span class="badge badge-ttl">Description</span>
        <ul>
            <li>Call IAPInit before Pay.</li>
        </ul>

        <span class="badge badge-ttl">Example</span>
        <ul>
            <li><code>SGSDK.Instance.IAPInit ("[ConsumbleItem, NonConsumable, AutoSubscription, NonAutoSbuscriptions]");</code></li>
        </ul>
        <br />

        <span class="badge badge-ttl">Parameters</span>
        <ul>
            <li>productsJSON is product serial number string array of iTunes Connect.</li>
        </ul>

        <span class="badge badge-ttl">Response</span>
        <ul>
            <li>Please refer to 【<a href="/java-init#listener">SDK Callback Listener</a>】
                and 【<a href="/webapi-init#section5">Response Code Definition</a>】for more detail.</li>
            <li>Listener result data: None.</li>
        </ul>
    </section>

    <section id="pay">
        <h1>Pay & Upload Order</h1>

        <span class="badge badge-ttl">Function</span>
        <p>
            <pre>void Pay(SGPayRequest req)</pre>
        </p>

        <span class="badge badge-ttl">Description</span>
        <ul>
            <li>Launches third-party vendor IAP flow, and uploads order information to SG server.</li>
            <li>Please refer to SGDemo for more detail SGPayRequest parameters setting.</li>
            <li>
                Call Google payment SGPayRequest.PaymentChannel must be "GooglePay"。
            </li>
            <li>
                Call WeChat payment SGPayRequest.PaymentChannel must be "WeChat"。
            </li>
            <li>
                Call Apple payment SGPayRequest.PaymentChannel must be "AppStore"。
            </li>
        </ul>

        <span class="badge badge-ttl">Parameters</span>
        <ul>
            <li>
                <a href="/webapi-init#SGPayRequest"><b>SGPayRequest</b></a>: Payment parameter structure.
            </li>
        </ul>

        <span class="badge badge-ttl">Response</span>
        <ul>
            <li>Please refer to 【<a href="/swift-init#listener">SDK Callback Listener</a>】
                and 【<a href="/webapi-init#section5">Response Code Definition</a>】for more detail.</li>
            <li>
                Listener result data: <a href="/webapi-init#SGPayResponse">SGPayResponse</a>.</a>
            </li>
        </ul>

    </section>

    <section id="checkOrder">
        <h1>Get Order</h1>

        <span class="badge badge-ttl">Function</span>
        <pre>void getOrder(string orderId, string gameKey, string openId, string sign)</pre>

        <span class="badge badge-ttl">Description</span>
        <ul>
            <li>Obtain detailed order and receipt information of previous successful orders.</li>
        </ul>

        <span class="badge badge-ttl">Parameters</span>
        <table class="table table-striped">
            <tr>
                <th>Parameters</th>
                <th>Description</th>
            </tr>
            <tr>
                <td>gameKey</td>
                <td>Your developer identification.</td>
            </tr>
            <tr>
                <td>openId</td>
                <td>SG member ID.  You can obtain it through <a href="/swift-user#GetOpenID">GetOpenID()</a> after user login.</td>
            </tr>
            <tr>
                <td>orderId</td>
                <td>Order ID you passed in when making the purchase.</td>
            </tr>
            <tr>
                <td>sign</td>
                <td>
                    Signature generated from above three parameters.<br />
                    Please refer to <a href="/server-sign#section2">signature algorithm</a>.
                </td>
            </tr>
        </table>

        <span class="badge badge-ttl">Response</span>
        <ul>
            <li>Please refer to 【<a href="/swift-init#listener">SDK Callback Listener</a>】
                and 【<a href="/webapi-init#section5">Response Code Definition</a>】for more detail.</li>
            <li>
                Listener result data: <a href="/webapi-init#SGPayResponse">SGPayResponse</a>.</a>
            </li>
        </ul>
    </section>

    <section id="consumeOrder">
        <h1>Other Payment Function</h1>
        <h3>1.Consume Order(Google Payment)</h3>
        <span class="badge badge-ttl">Function</span>
        <pre>void ConsumePurchasedItems()</pre>

        <span class="badge badge-ttl">Description</span>
        <ul>
            <li>
                The function is only needed when you using Google IAP and encounter <code>response code 1174</code> (purchase successful yet consume failed). It consumes all previous purchased but not consumed items.
            </li>
        </ul>

        <span class="badge badge-ttl">Response</span>
        <ul>
            <li>Please refer to 【<a href="/swift-init#listener">SDK Callback Listener</a>】
                and 【<a href="/webapi-init#section5">Response Code Definition</a>】for more detail.</li>
            <li>Listener result data: None.</li>
        </ul>

        <h3>2.Restore Order (Apple Payment)</h3>
        <span class="badge badge-ttl">Function</span>
        <p>
        <pre>void IAPRestore()</pre>
        </p>

        <span class="badge badge-ttl">Description</span>
        <ul>
            <li>When users switch to a  new phone, you need to call this function to restore purchased for <b>Non-Consumable</b> and <b>Auto-renewing subscription</b> products.</li>
        </ul>

        <span class="badge badge-ttl">Response</span>
        <ul>
            <li>Please refer to 【<a href="/swift-init#listener">SDK Callback Listener</a>】
                and 【<a href="/webapi-init#section5">Response Code Definition</a>】for more detail.</li>
            <li>Listener result data: None.</li>
        </ul>

    </section>


</div>