<div class="left-side" id="myScrollspy">

    <ul class="nav nav-pills">
        <li><a href="#summary">Unity Introduction</a></li>
        <li><a href="#environment">Development Environment</a></li>
        <li><a href="#content">SGSDK Package Content</a></li>
        <li><a href="#use">Using Unity SGSDK</a></li>
    </ul>

</div>

<div class="right-side">

    <section id="summary">
        <h1>Unity Introduction</h1>
        <p>
            Knowing how to integrate Unity SDK by reading this document. It's important for you to read through and understand the document before starting development.
        </p>
    </section>

    <section id="environment">
        <h1>Development Environment</h1>
        <h3>1.下載 SGSDK Unity Package File</h3>
        <ul>
            <li><a href="/sdk/unity/SGSDK.unitypackage">SGSDK.unitypackage</a></li>
        </ul>
        <br />

        <h3>2.Import Custom Package</h3>
        <p>Import SGSDK.unitypackage to project.</p>
        <img src=<%= "assets/img/" + lang + "/unity01.png"%> class="img-responsive"/>
        <br />

    </section>

    <section id="content">
        <h1>SGSDK Package Content</h1>
        <img src=<%= "assets/img/" + lang + "/unity02.png"%> class="img-responsive"/>
        <h3>1.Android</h3>
        <ul>
            <li>Plugins/Android/SGSDK.aar is native android sdk</li>
            <li>Plugins/Android/android-support-v4.jar is dependency sdk of android. Keeping the newest one avoid making apk error.</li>
            <li>Plugins/Android/AndroidManifest.xml is AndroidManifest.xml of sdk. Have to merge with project.</li>
            <%- include ../code/unity-manifest.html -%>
        </ul>

        <br />

        <h3>2.iOS</h3>
        <ul>
            <li>Plugins/iOS/SGSDK.framework native iOS sdk</li>
            <li>Plugins/iOS/SwiftObject.mm SwiftObject.swift is intermediary file of iOS and Unity. </li>
            <li>Below are files of build iOS project necessary.</li>
            <li>Plugins/SGSDK/Editor/PostProcessor.cs</li>
            <li>Plugins/SGSDK/UnitySwift-Bridging-Header.h</li>
            <li>Plugins/SGSDK/Xcode/</li>
        </ul>

        <h3>3.Unity SDK</h3>
        <ul>
            <li>Plugins/SGSDK/Scripts Unity SGSDK</li>
        </ul>

    </section>

    <section id="use">
        <h1>Using Unity SGSDK</h1>
        <h3>1.Using SGSDK</h3>
        <ul>
            <li>Using singleton object <code>SGSDK.Instance</code> function to integrate SG member, payment and analytic system.</li>
            <li>Recommended call SDK SetListener and Init at game initialization.</li>
            <%- include ../code/unity-init.html -%>
        </ul>

        <h3>2.SGSDK sample</h3>
        <ul>
            <li>Please refer to SGSDKSample/SGDemo</li>
        </ul>
        <br />

        <h3>3.Hints</h3>
        <ul>
            <li>SGSDK only can test in device.</li>
            <li> Unity 5.6.1 Android widget display can not show correctly. Recommended to use other versions or hide widget. </li>
        </ul>
        <br />

    </section>

</div>