<div class="left-side" id="myScrollspy">

    <ul class="nav nav-pills">
        <li><a href="#summary">Payment System</a></li>
        <li><a href="#getproducts">Get Product List</a></li>
        <li><a href="#buy">Buy Product</a></li>
        <li><a href="#getorderstate">Get Order State</a></li>
        <li><a href="#getorderinfos">Get Order Info List</a></li>
    </ul>

</div>

<div class="right-side">

    <section id="summary">
        <h1>Payment System</h1>
        <p>The Payment System of SGUtil For Unity provides following methods.</p>
    </section>

    <section id="getproducts">
        <h1>Get Product List</h1>

        <span class="badge badge-ttl">Method</span>
        <p>
            <pre>void GetProductList(string filter)</pre>
        </p>

        <span class="badge badge-ttl">Parameters</span>
        <ul>
            <li>filter - the string parmater to be passed to getProductList method of game server, used by game server to filter/control results.</li>
        </ul>

        <span class="badge badge-ttl">Remark</span>
        <ul>
            <li>Retrieve product(property) list from game server.</li>
            <li>Product(Property) list is notified via OnProductFound.</li>
        </ul>

    </section>

    <section id="getproductscallback">
        <h1>Get Product List Callback</h1>

        <span class="badge badge-ttl">Method</span>
        <p>
            <pre>void OnProductFound(SGUProduct product)</pre>
        </p>

        <span class="badge badge-ttl">Parameters</span>
        <ul>
            <li>product - Product information, see SGU.cs for its member definition. Refer to <a href=<%= "assets/html/" + lang + "/android/jdoc/sgutil/com/sg/util/UProduct.html"%>> UProduct</a>.</li>
        </ul>

        <span class="badge badge-ttl">Remark</span>
        <ul>
            <li>'product' being null indicates end of list.</li>
        </ul>

    </section>

    <section id="buy">
        <h1>Buy Product</h1>

        <span class="badge badge-ttl">Method</span>
        <p>
            <pre>void Buy(string product_id)</pre>
        </p>

        <span class="badge badge-ttl">Parameters</span>
        <ul>
            <li>product_id - product ID</li>
        </ul>

        <span class="badge badge-ttl">Remark</span>
        <ul>
            <li>Starts up progress of product purchase.</li>
			<li>Generation of order and its state change are notified via OnOrderStateChange. The caller must save the order ID for future use.</li>
            <li>The result of payment UI operation is notified via OnPay.</li>
			<li>OnOrderStateChange is called before OnPay to notify order generation and state change.</li>
        </ul>

    </section>

    <section id="buycallback">
        <h1>Buy Product Callback</h1>

        <span class="badge badge-ttl">Method</span>
        <p>
            <pre>void OnPay(SGUStateChangeReason reason)</pre>
        </p>

        <span class="badge badge-ttl">Parameters</span>
        <ul>
            <li>reason - one of STATE_CHANGE_REASON_OP_SUCCESS（succeeded）、STATE_CHANGE_REASON_OP_FAILURE（failed）、STATE_CHANGE_REASON_OP_CANCELED（cancelled）</li>
        </ul>

        <span class="badge badge-ttl">Remark</span>
        <ul>
            <li>'reason' being STATE_CHANGE_REASON_OP_SUCCESS indicates user confirmed to pay and the order was accepted by channel.
                 The caller may call GetOrderState to confirm whether correct amount of money has been transferred to account.</li>
        </ul>

    </section>

    <section id="getorderstate">
        <h1>Get Order State</h1>

        <span class="badge badge-ttl">Method</span>
        <p>
            <pre>void GetOrderState(string order_id)</pre>
        </p>

        <span class="badge badge-ttl">Parameters</span>
        <ul>
            <li>order_id - order ID</li>
        </ul>

        <span class="badge badge-ttl">Remark</span>
        <ul>
            <li>This method is typically called after user completed payment UI operation to confirm whether correct amount of money has been transferred
			to account.</li>
			<li>Please note success of payment UI operation DO NOT INIDICATE success of money transfer.</li>
			<li>The result is notified to caller via OnOrderStateChange.</li>
        </ul>

    </section>

    <section id="ordercallback">
        <h1>Get Order State Callback</h1>

        <span class="badge badge-ttl">Method</span>
        <p>
            <pre>void OnOrderStateChange(SGUOrderState order_state)</pre>
        </p>

        <span class="badge badge-ttl">Parameters</span>
        <ul>
            <li>order_state - order state</li>
        </ul>

        <span class="badge badge-ttl">Remark</span>
        <ul>
            <li>This callback is initiated after Buy or GetOrderState are called.</li>
			<li>SGUOrderState's member 'OrderID' is null when member 'State' is "ordering"，it has a fulfilling value after 'State' becomes
			"ordered". The caller should save the order ID for future state query and management.
			<li>For values of SGUOrderState's member 'State', please refer to <a href=<%= "assets/html/" + lang + "/android/jdoc/sgutil/com/sg/util/SGAgent.SGClient.html#onOrderStateChange-java.lang.String-java.lang.String-java.lang.String-"%>> SGAgent.SGClient.onOrderStateChange</a>.
			However, if 'State' is 'error', it means GetOrderState cannot be done at present.</li>
        </ul>

    </section>

    <section id="getorderinfos">
        <h1>Get Order Info List</h1>

        <span class="badge badge-ttl">Method</span>
        <p>
            <pre>void GetOrderInfoList(string filter)</pre>
        </p>

        <span class="badge badge-ttl">Parameters</span>
        <ul>
            <li>filter - the string parmater to be passed to getOrderInfoList method of game server, used by game server to filter/control results.</li>
        </ul>

        <span class="badge badge-ttl">Remark</span>
        <ul>
            <li>Retrieve a list of orders the user owns from game server.</li>
            <li>Order info list is notified to caller via OnOrderInfoFound.</li>
        </ul>

    </section>

    <section id="getporderinfoscallback">
        <h1>Get Order Info List Callback</h1>

        <span class="badge badge-ttl">Method</span>
        <p>
            <pre>void OnOrderInfoFound(SGUOrder order)</pre>
        </p>

        <span class="badge badge-ttl">Parameters</span>
        <ul>
            <li>order - Order information, see SGU.cs for member definition.</li>
        </ul>

        <span class="badge badge-ttl">Remark</span>
        <ul>
            <li>'order' being null indicates end of list.</li>
        </ul>

    </section>

</div>
