<div class="left-side" id="myScrollspy">

    <ul class="nav nav-pills">
        <li><a href="#section1">Statistical System</a></li>
        <li><a href="#section2">Measure Game Time</a></li>
    </ul>

</div>

<div class="right-side">
    <section id="section1">
        <h1>Statistical System</h1>
        <p>Statistical functions are used to measure game status for analytical reports.</p>
    </section>

    <section id="section2">
        <h1>Measure Game Time</h1>
        <h3>1.Game start</h3>

        <div class="row">
            <span class="badge badge-ttl">API</span>
            <pre> <span class="label label-warning">GET</span> /gamestart</pre>

            <span class="badge badge-ttl">Description</span>
            <p>When game started, call this function to notify server to start recording.</p>

            <span class="badge badge-ttl">Example</span>
            <pre>https://gameapi.smartgamesltd.com/gamestart</pre>

            <span class="badge badge-ttl">Response</span>
            <ul>
                <li>
                    Response is in JSON format.
                    Ex: <code>{"Code": xxx, "Message": "ok"} </code>.
                </li>
                <li>
                    Please refer to 【<a href="/webapi-init#section5">Response Code Definition</a>】for more detail.
                </li>
            </ul>
        </div>
        <br>

        <hr/>
        <h3>2.Game stop</h3>

        <div class="row">
            <span class="badge badge-ttl">API</span>
            <pre> <span class="label label-warning">GET</span> /gamestop</pre>

            <span class="badge badge-ttl">Description</span>
            <p>When game stopped, call this function to notify server to stop recording.</p>

            <span class="badge badge-ttl">Example</span>
            <pre>https://gameapi.smartgamesltd.com/gamestop</pre>

            <span class="badge badge-ttl">Response</span>
            <ul>
                <li>
                    Response is in JSON format.
                    Ex: <code>{"Code": xxx, "Message": "ok"} </code>.
                </li>
                <li>
                    Please refer to 【<a href="/webapi-init#section5">Response Code Definition</a>】for more detail.
                </li>
            </ul>
        </div>
    </section>
</div>