<div class="left-side" id="myScrollspy">

    <ul class="nav nav-pills">
        <li><a href="#section1">Payment System</a></li>
        <li><a href="#section2">Upload Payment Data</a></li>
        <li><a href="#section3">Get Order</a></li>
    </ul>

</div>

<div class="right-side">
    <section id="section1">
        <h1>Payment System</h1>
        <p>After successful purchasing items with platform IAP service, you can use following APIs to upload payment receipt for SG analysis service, and download previous order information. </p>
    </section>

    <section id="section2">
        <h1>Upload Payment Data</h1>
        
        <div>
            <span class="badge badge-ttl">API</span>
            <pre> <span class="label label-warning">GET</span> <span class="label label-success">POST</span> /pay</pre>

            <span class="badge badge-ttl">Description</span>
            <p>After successful purchasing items in your Apps, upload order and payment receipt information for SG analysis service.</p>

            <span class="badge badge-ttl">Example</span>
            <pre>http://gameapi.smartgamesltd.com/pay?productId=com.smartgamesltd.diamond1&productName=diamond&price=1.99</pre>

            <span class="badge badge-ttl">Parameters</span>
            <p>JSON string of <a href="/webapi-init#SGPayRequest">SGPayRequest</a> 。</p>

            <span class="badge badge-ttl">Response</span>
            <p>JSON string of <a href="/webapi-init#SGPayResponse">SGPayResponse</a> 。</p>
        </div>
    </section>

    <section id="section3">
        <h1>Get Order</h1>
        <div>
            <span class="badge badge-ttl">API</span>
            <pre> <span class="label label-warning">GET</span> <span class="label label-success">POST</span> /getorder</pre>

            <span class="badge badge-ttl">Description</span>
            <p>Obtain detailed order and receipt information of previous successful orders.</p>

            <span class="badge badge-ttl">Example</span>
            <pre>http://gameapi.smartgamesltd.com/getorder?orderid=my_orderid&gamekey=my_gamekey&openid=my_openid&sign=my_sign</pre>

            <span class="badge badge-ttl">Parameters</span>
            <table class="table table-striped">
                <tr>
                    <td>gameKey</td>
                    <td>Your developer identification.</td>
                </tr>
                <tr>
                    <td>openId</td>
                    <td>SG member ID.</td>
                </tr>
                <tr>
                    <td>orderId</td>
                    <td>Order ID you passed in when making the purchase.</td>
                </tr>
                <tr>
                    <td>sign</td>
                    <td>
                        Signature generated from above three parameters.<br />
                        Please refer to <a href="/server-sign#section2">signature algorithm</a>.
                    </td>
                </tr>
            </table>

            <span class="badge badge-ttl">Response</span>
            <p>JSON string of <a href="/webapi-init#SGPayResponse">SGPayResponse</a> 。</p>
        </div>
    </section>
</div>