<div class="left-side" id="myScrollspy">
    <ul class="nav nav-pills">
        <li><a href="#MemberSystem">辅助系统</a></li>
    </ul>
</div>
<div class="right-side">
    <section id="MemberSystem">
        <h1>辅助系统</h1>
        
        <p>SGAgent 的辅助系统提供了下列方法供应用使用。分别是</p>

获取当前设定的游服接口实现
<pre>SGGameServerInterface getGameServer()
</pre>

获取状态变化原因的名称
<pre>String getStateChangeReasonName(int reason)
</pre>

获取状态的名称
<pre>String getStateName(int type, int state)
</pre>

指定游服接口实现
<pre>void setGameServer(SGGameServerInterface gs)
</pre>

<p>具体使用方法请参看 <a href=<%= "assets/html/" + lang + "/android/jdoc/sgutil/com/sg/util/SGAgent.html"%>> SGAgent 文档</a>。</p>
</div>
