<div class="col-sm-9">
    <div id="section1">
        <h1>【统计系统接口】</h1>
        <hr>
    </div>
    <br>
    <div id="section2">
        <h1>统计游戏时间</h1>
        <hr>
        接口名称：<code>GameStart, GameStop</code><br/>
        接口说明：在游戏启动和游戏从后台切到前台的时候调用GameStart; 在游戏退出和游戏从前台切到后台的时候调用GameStop，用以统计玩家进行游戏的时间。<br>
        范例：
        <pre>SgSDK.Instance.GameStart()</pre>
        返回值：无<br/>
        <br>
        范例：
        <pre>SgSDK.Instance.GameStop()</pre>
        返回值：<a href="/webapi-init#section5"> 查看回传值定义 </a>
    </div>
</div>