<div class="left-side" id="myScrollspy">

    <ul class="nav nav-pills">
        <li>
            <a href="#summary">Unity 集成指南</a>
        </li>
        <li>
            <a href="#environment">開發環境設定</a>
        </li>
        <li>
            <a href="#content">SGSDK Package 內容</a>
        </li>
        <li>
            <a href="#use">使用 Unity SGSDK</a>
        </li>
        <li>
            <a href="#fbsdk">設定 Facebook iOS SDK</a>
        </li>
    </ul>

</div>

<div class="right-side">

    <section id="summary">
        <h1>Unity 集成指南</h1>
        <p>
            通過本文的介紹可以了解 Unity SDK 客戶端接入的整個流程。 在接入之前請仔細閱讀本文檔，以減少接入過程中遇到的問題。
        </p>
    </section>

    <section id="environment">
        <h1>開發環境設定</h1>
        <h3>1.下載 SGSDK Unity Package File</h3>
        <ul>
            <li>
                <a href="/sdk/unity/SGSDK.unitypackage">SGSDK.unitypackage</a>
            </li>
        </ul>
        <br />

        <h3>2.Import Custom Package</h3>
        <p>導入 SGSDK.unitypackage 至 project 裡。</p>
        <img src=<%="assets/img/unity01.png"%> class="img-responsive"/>
        <br />

    </section>

    <section id="content">
        <h1>SGSDK Package 內容</h1>
        <img src=<%="assets/img/unity02.png"%> class="img-responsive"/>
        <h3>1.Android</h3>
        <ul>
            <li>Plugins/Android/SGSDK.aar native android sdk</li>
            <li>Plugins/Android/android-support-v4.jar 與 android 相依的 sdk。Project 中只需求保留一份最新版本，以免在產 apk 時發生載入衝突。</li>
            <li>Plugins/Android/AndroidManifest.xml 與 project 的 AndroidManifest.xml 合併。</li>
            <%- include ../code/unity-manifest.html -%>
        </ul>

        <br />

        <h3>2.iOS</h3>
        <ul>
            <li>Plugins/iOS/SGSDK.framework native iOS sdk</li>
            <li>Plugins/iOS/SwiftObject.mm SwiftObject.swift iOS 與 Unity 溝通的中介檔。 </li>
            <li>以下為 build iOS project 所需檔案。</li>
            <li>Plugins/SGSDK/Editor/PostProcessor.cs</li>
            <li>Plugins/SGSDK/UnitySwift-Bridging-Header.h</li>
            <li>Plugins/SGSDK/Xcode/</li>
        </ul>

        <h3>3.Unity SDK</h3>
        <ul>
            <li>Plugins/SGSDK/Scripts Unity SGSDK</li>
        </ul>

    </section>

    <section id="use">
        <h1>使用 Unity SGSDK</h1>
        <h3>1.調用SGSDK</h3>
        <ul>
            <li>調用 singleton object
                <code>SGSDK.Instance</code> 各函式完成串接 SG 帳號，支付，統計系統。</li>
            <li>建議在遊戲初始化時設置 SDK 監聽與初始函式。</li>
            <%- include ../code/unity-init.html -%>
        </ul>
        <br/>

        <h3>2.SGSDK 客製化設定</h3>
        <ul>
            <li>SGSDK.Instance.ChangeLanguage(string lang); //Only support "zh-tw", "zh-hk", "zh-cn", "en"</li>
            <li>SGSDK.Instance.AutoShowWidget(bool flag); //預設為true，設定為false登入後widget將不顯示。開發者可客製介面開啟用戶介面。</li>
            <li>SGSDK.Instance.IsChinaVersion = true; //預設為false，設定為true之後會隱藏Facebook相關功能，手機區碼也只會有+86</li>
        </ul>
        <br/>

        <h3>3.注意事項</h3>
        <ul>
            <li>接入 SGSDK 後只支援實機調用測試。</li>
        </ul>
        <br />

        <h3>４.SGSDK 使用範例</h3>
        <ul>
            <li>請參考 SGSDKSample/SGDemo</li>
        </ul>
        <br />
    </section>

    <section id="fbsdk">
        <h1>設定 Facebook iOS SDK</h1>
        <h3>1.下載 Facebook iOS SDK</h3>
        <ul>
            <li>
                <a href="https://developers.facebook.com/docs/ios/getting-started">Facebook iOS SDK</a>
            </li>
        </ul>
        <br />

        <h3>2.解壓縮</h3>
        <p>將封存檔案解壓縮至
            <code>~/Documents/FacebookSDK</code>。</p>
        <br />

    </section>

</div>