<div class="left-side" id="myScrollspy">

    <ul class="nav nav-pills">
        <li><a href="#section1">统计系统接口</a></li>
        <li><a href="#section2">统计游戏时间</a></li>
    </ul>

</div>

<div class="right-side">
    <section id="section1">
        <h1>统计系统接口</h1>
        <h4>各种统计相关接口，用以统计游戏数据。</h4>
    </section>

    <section id="section2">
        <h1>统计游戏时间</h1>
        <h3>1.开始统计游戏时间</h3>

        <div class="row">
            <span class="badge badge-ttl">API</span>
            <pre> <span class="label label-warning">GET</span> /gamestart</pre>

            <span class="badge badge-ttl">说明</span>
            <p>在游戏启动和游戏从后台切到前台的时候调用。</p>

            <span class="badge badge-ttl">范例</span>
            <pre>http://gameapi.smartgamesltd.com/gamestart</pre>

            <span class="badge badge-ttl">回传</span>
            <p>回传 JSON 字串。例如 <code>{"code": 1301, "msg": "ok"}</code>。</p>
        </div>
        <br>

        <hr/>
        <h3>2.结束统计游戏时间</h3>

        <div class="row">
            <span class="badge badge-ttl">API</span>
            <pre> <span class="label label-warning">GET</span> /gamestop</pre>

            <span class="badge badge-ttl">说明</span>
            <p>在游戏退出和游戏从前台切到后台的时候调用，用以统计玩家进行游戏的时间。</p>

            <span class="badge badge-ttl">范例</span>
            <pre>http://gameapi.smartgamesltd.com/gamestop</pre>

            <span class="badge badge-ttl">回传</span>
            <ul>
                <li>回传 JSON 字串。例如 <code>{"code": 1401, "msg": "ok"}</code>。</li>
                <li>完整 code 定义，<a target="_blank" href="/webapi-init#section5">请参看对照表</a>。</li>
            </ul>
        </div>
    </section>
</div>