<div class="col-sm-9">
    <div id="section1">
        <h1>统计系统接口</h1>
        <hr>
        <h4>各种统计相关接口，用以统计游戏数据。</h4>
    </div>
    <br>
    <div id="section2">
        <h1>统计游戏时间</h1>
        <hr>
        <h4>统计玩家游戏时间。</h4>
        <br/>
        <p>
            接口名称：<code>gamestart, gamestop</code><br/>
            接口说明：在游戏启动和游戏从后台切到前台的时候调用 gamestart 。在游戏退出和游戏从前台切到后台的时候调用 gamestop ，用以统计玩家进行游戏的时间。<br>
            范例：<pre><code class="js">http://gameapi.smartgamesltd.com/gamestart</code></pre>
        返回值：无<br/>
        <br>
        范例：<pre><code class="js">http://gameapi.smartgamesltd.com/gamestop</code></pre>
        返回值：回传 JSON 字串。例如 <code>{"code": 1, "msg": "ok"}</code>。<br>
        <a href="/webapi-init#section5"> 查看回传值定义 </a>
        </p>
    </div>
</div>