<div class="left-side" id="myScrollspy">

    <ul class="nav nav-pills">
        <li><a href="#section1">支付系统接口</a></li>
        <li><a href="#section2">上传商品收据</a></li>
        <li><a href="#section3">查询购买收据</a></li>
    </ul>

</div>

<div class="right-side">
    <section id="section1">
        <h1>支付系统接口</h1>
        <p>与游戏内购相关接口。</p>
    </section>

    <section id="section2">
        <h1>上传商品收据</h1>
        <p>购买游戏内购商品(IAP)成功后，必须上传商品收据，用作后台统计。</p>
        <div class="row">
            <span class="badge badge-ttl">API</span>
            <pre> <span class="label label-success">POST</span> /pay</pre>

            <span class="badge badge-ttl">说明</span>
            <p>成功购买游戏内付费商品后调用，上传商品数据。</p>

            <span class="badge badge-ttl">范例</span>
            <pre>http://gameapi.smartgamesltd.com/pay?productId=com.smartgamesltd.diamond1&productName=diamond&price=1.99</pre>

            <span class="badge badge-ttl">参数</span>
            <p>请参照结构定义 <a target="_blank" href="/webapi-init#SGPayRequest">SGPayRequest</a> 。</p>

            <span class="badge badge-ttl">回传</span>
            <p>请参照结构定义 <a target="_blank" href="/webapi-init#SGPayResponse">SGPayResponse</a> 。</p>
        </div>
    </section>

    <section id="section3">
        <h1>查询购买收据</h1>
        <p>查询已购买商品收据。</p>
        <div class="row">
            <span class="badge badge-ttl">API</span>
            <pre> <span class="label label-success">POST</span> /getorder</pre>

            <span class="badge badge-ttl">说明</span>
            <p>需传送购买成功后的簽名(sign)，才能查询订单详细内容。</p>

            <span class="badge badge-ttl">范例</span>
            <pre>http://gameapi.smartgamesltd.com/getorder?orderid=my_orderid&gamekey=my_gamekey&openid=my_openid&sign=my_sign</pre>

            <span class="badge badge-ttl">参数</span>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>
                        参数名称
                    </th>
                    <th>
                        必传
                    </th>
                    <th>
                        参数说明
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>
                        orderid
                    </td>
                    <td>
                        <i class="fa fa-check"></i>
                    </td>
                    <td>
                        提交 pay 购买资料后回传的订单编号 OrderID。
                    </td>
                </tr>
                <tr>
                    <td>
                        gamekey
                    </td>
                    <td>
                        <i class="fa fa-check"></i>
                    </td>
                    <td>
                        开发者申请开通游戏后取得的gamekey。
                    </td>
                </tr>
                <tr>
                    <td>
                        openid
                    </td>
                    <td>
                        <i class="fa fa-check"></i>
                    </td>
                    <td>
                        登入成功后取得的OpenID。
                    </td>
                </tr>
                <tr>
                    <td>
                        sign
                    </td>
                    <td>
                        <i class="fa fa-check"></i>
                    </td>
                    <td>
                        提交 pay 购买资料后回传的簽名 sign。
                    </td>
                </tr>
                </tbody>
            </table>

            <span class="badge badge-ttl">回传</span>
            <p>以JSON格式回购买商品收据。</p>
        </div>
    </section>
</div>