<div class="left-side" id="myScrollspy">
    <ul class="nav nav-pills">
        <li><a href="#MemberSystem">支付系統</a></li>
    </ul>
</div>
<div class="right-side">
    <section id="MemberSystem">
        <h1>支付系統</h1>
        
        <p>SGAgent 的支付系統提供了下列方法供應用使用。分別是</p>

啓動購買產品過程
<pre>boolean buyProduct(UProduct product)
</pre>

獲取信息獲取狀態機狀態
<pre>int getJobState()
</pre>

啓動獲取訂單信息列表過程
<pre>boolean getOrderInfoList(String filter)
</pre>

啓動獲取支付結果的過程
<pre>boolean getOrderState(String orderID)
</pre>

獲取產品購買狀態機的狀態
<pre>int getPayState()
</pre>

根據訂單號查找所購買的產品
<pre>UProduct getProductByOrderID(String orderID)
</pre>

啓動獲取產品列表過程
<pre>boolean getProducts(String filter, boolean sorting)
</pre>

指定訂單支付提交成功後自動查詢訂單支付結果所需要等待的時間。
<pre>void setOrderStateCheckingIntervals(int[] intervals)
</pre>

通知SGAgent通過onOrderInfoFound發送下一個產品信息
<pre>void wantOrderInfo()
</pre>

通知SGAgent通過onProductFound發送下一個產品信息        
<pre>void wantProduct()
</pre>

<p>具體使用方法請參看 <a href=<%= "assets/html/" + lang + "/android/jdoc/com/sg/util/SGAgent.html"%>> SGAgent 文檔</a>。</p>
</div>
