<div class="left-side" id="myScrollspy">
    <ul class="nav nav-pills">
        <li><a href="#MemberSystem">用戶系統</a></li>
    </ul>
</div>
<div class="right-side">
    <section id="MemberSystem">
        <h1>用戶系統</h1>
        
        <p>SGAgent 的用戶系統提供了下列方法供應用使用。分別是</p>
退出
<pre>void exit()
</pre>

獲取用戶登錄狀態
<pre>int getUsrState()
</pre>

登入
<pre>boolean login()
</pre>

登出
<pre>boolean logout()
</pre>

<p>具體使用方法請參看 <a href=<%= "assets/html/" + lang + "/android/jdoc/sgutil/com/sg/util/SGAgent.html"%>> SGAgent 文檔</a>。</p>
</div>
