<div class="left-side" id="myScrollspy">
    <ul class="nav nav-pills">
        <li><a href="#MemberSystem">輔助系統</a></li>
    </ul>
</div>
<div class="right-side">
    <section id="MemberSystem">
        <h1>輔助系統</h1>
        
        <p>SGAgent 的輔助系統提供了下列方法供應用使用。分別是</p>

獲取當前設定的遊服介面實現
<pre>SGGameServerInterface getGameServer()
</pre>

獲取狀態變化原因的名稱
<pre>String getStateChangeReasonName(int reason)
</pre>

獲取狀態的名稱
<pre>String getStateName(int type, int state)
</pre>

指定遊服介面實現
<pre>void setGameServer(SGGameServerInterface gs)
</pre>

<p>具體使用方法請參看 <a href=<%= "assets/html/" + lang + "/android/jdoc/sgutil/com/sg/util/SGAgent.html"%>> SGAgent 文檔</a>。</p>
</div>
