<div class="left-side" id="myScrollspy">

    <ul class="nav nav-pills">
        <li><a href="#section1">支付系統接口</a></li>
        <li><a href="#section2">上傳商品收據</a></li>
        <li><a href="#section3">查詢購買收據</a></li>
    </ul>

</div>

<div class="right-side">
    <section id="section1">
        <h1>支付系統接口</h1>
        <p>與遊戲內購相關接口。</p>
    </section>

    <section id="section2">
        <h1>上傳商品收據</h1>
        <p>購買遊戲內購商品(IAP)成功後，必須上傳商品收據，用作後台統計。</p>
        <div class="row">
            <span class="badge badge-ttl">API</span>
            <pre> <span class="label label-warning">GET</span> <span class="label label-success">POST</span> /pay</pre>

            <span class="badge badge-ttl">説明</span>
            <p>成功購買遊戲內付費商品後調用，上傳商品數據。</p>

            <span class="badge badge-ttl">範例</span>
            <pre>http://gameapi.smartgamesltd.com/pay?productId=com.smartgamesltd.diamond1&productName=diamond&price=1.99</pre>

            <span class="badge badge-ttl">參數</span>
            <p>請參照結構定義 <a href="/webapi-init#SGPayRequest">SGPayRequest</a> 。</p>

            <span class="badge badge-ttl">回傳</span>
            <p>請參照結構定義 <a href="/webapi-init#SGPayResponse">SGPayResponse</a> 。</p>
        </div>
    </section>

    <section id="section3">
        <h1>查詢購買收據</h1>
        <p>查詢已購買商品收據。</p>
        <div class="row">
            <span class="badge badge-ttl">API</span>
            <pre> <span class="label label-warning">GET</span> <span class="label label-success">POST</span> /getorder</pre>

            <span class="badge badge-ttl">説明</span>
            <p>需傳送購買成功後的簽名(sign)，才能查詢訂單詳細內容。</p>

            <span class="badge badge-ttl">範例</span>
            <pre>http://gameapi.smartgamesltd.com/getorder?orderid=my_orderid&gamekey=my_gamekey&openid=my_openid&sign=my_sign</pre>

            <span class="badge badge-ttl">參數</span>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>
                        參數名稱
                    </th>
                    <th>
                        必傳
                    </th>
                    <th>
                        參數說明
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>
                        orderid
                    </td>
                    <td>
                        <i class="fa fa-check"></i>
                    </td>
                    <td>
                        提交 pay 購買資料後回傳的訂單編號 OrderID。
                    </td>
                </tr>
                <tr>
                    <td>
                        gamekey
                    </td>
                    <td>
                        <i class="fa fa-check"></i>
                    </td>
                    <td>
                        開發者申請開通遊戲後取得的 gamekey。
                    </td>
                </tr>
                <tr>
                    <td>
                        openid
                    </td>
                    <td>
                        <i class="fa fa-check"></i>
                    </td>
                    <td>
                        登入成功後取得的 OpenID。
                    </td>
                </tr>
                <tr>
                    <td>
                        sign
                    </td>
                    <td>
                        <i class="fa fa-check"></i>
                    </td>
                    <td>
                        提交 pay 購買資料後回傳的簽名 sign。
                    </td>
                </tr>
                </tbody>
            </table>

            <span class="badge badge-ttl">回傳</span>
            <p>以JSON格式回購買商品收據 <a href="/webapi-init#SGPayResponse">SGPayResponse</a> 。</p>
        </div>
    </section>
</div>